<!-- <p >Παρακαλώ συμπληρώστε τα πεδία. Τα πεδία αυτά αφορούν μόνο εσάς αποκλειστικά.</p> -->
<h4 class="text-danger">Καθεστώς Εργασίας</h4>
<h4 class="text-danger">Ιδιωτικός Τομέας</h4>
<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Απασχολούμαι με σύμβαση εργασίας πλήρους απασχόλησης και αορίστου χρόνου</label><br>
<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Απασχολούμαι με σύμβαση εργασίας πλήρους απασχόλησης και ορισμένου χρόνου
  (συμπεριλαμβάνεται
  η εποχική απασχόληση)</label><br>
<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Απασχολούμαι με σύμβαση εργασίας μερικής απασχόλησης και αορίστου χρόνου</label><br>
<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Απασχολούμαι με σύμβαση εργασίας μερικής απασχόλησης και ορισμένου χρόνου
  (συμπεριλαμβάνεται
  η εποχική απασχόληση)</label><br>
<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Απασχολούμαι με εκ περιτροπής απασχόληση</label><br>
<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Απασχολούμαι αμειβόμενος/νη με εργόσημο</label><br>

<h4 class="text-danger">Αυτοαπασχολούμενος στο Δημόσιο Τομέα</h4>
<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Απασχολούμαι με σύμβαση ιδιωτικού δικαίου αορίστου χρόνου</label><br>
<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Απασχολούμαι με σύμβαση ιδιωτικού δικαίου ορισμένου χρόνου</label><br>
<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Απασχολούμαι ως Μόνιμος Δημόσιος Υπάλληλος</label><br>

<h4 class="text-danger">Αυτοαπασχολούμενος</h4>
<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Είμαι αυτοαπασχολούμενος</label><br>
<p style=" padding:0px 0px 0px 20px;">α) Όσοι έχουν δική τους επιχείρηση ανεξαρτήτως από το εάν έχουν ή δεν έχουν
  πωλήσεις, παρεχόμενες υπηρεσίες ή κέρδη(περιλαμβάνονται και οι ελεύθεροι επαγγελματίες που δεν ασκούν δραστηριότητα
  <br>β) άτομα που βρίσκονται σε φάση έναρξης επαγγέλματος (π.χ έχουν παραγγείλει ή αγοράσει εξοπλισμό) και
  <br>γ) όσοι εργάζονται σε οικογενειακή επιχείρηση και αμείβονται ή όσοι εργάζονται σε οικογενειακή επιχείρηση και
  δεν
  αμείβονται αλλά ζουν μαζί στο ίδιο νοικοκυριό, δηλ συμβοηθούντα μέλη οικογενειακών επιχειρήσεων)<br></p>
<h4 class="text-danger">Καθεστώς Εκπαίδευσης</h4>
<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Συμμετέχω σε κάποιο άλλο πρόγραμμα κατάρτισης ή εκπαίδευσης ή δια βίου μάθησης,
  επιδοτούμενο
  ή μη</label><br>
<p style=" padding:0px 0px 0px 20px;">Επεξήγηση 1: Η ερώτηση αφορά τη συμμετοχή σας σε κάποιο άλλο πρόγραμμα
  εκπαίδευσης
  ή κατάρτισης ή δια βίου μάθησης τη χρονική στιγμή πριν την είσοδο σας σε αυτήν την πράξη του ΕΚΤ).
  <br>Επεξήγηση 2: Η συμμετοχή σε πρόγραμμα κατάρτισης ή εκπαίδευσης ή δια βίου μάθησης εννοεί μαθητές όλων των
  εκπαιδευτικών βαθμίδων, συμπεριλαμβανόμενων των συμμετεχόντων σε Σχολεία Δεύτερης ευκαιρίας, Γενικά και
  Επαγγελματικά
  Λύκεια,
  σπουδαστές σε Σχολές Επαγγελματικής Κατάρτισης που παρέχουν αρχική επαγγελματική κατάρτιση σε αποφοίτους της
  υποχρεωτικής τυπικής εκπαίδευσης, σπουδαστές και πρακτικά ασκούμενους σε Ινστιτούτα Επαγγελματικής κατάρτισης,
  συμμετέχοντες σε
  προγράμματα Κέντρων Δια Βίου Μάθησης που παρέχουν συνεχιζόμενη επαγγελματική κατάρτιση, γενική εκπαίδευση ενηλίκων,
  επαγγελματικό προσανατολισμό και δια βίου συμβουλευτική, σπουδαστές Κολλεγίων, σπουδαστές και πρακτικά ασκούμενους
  Σχολών
  που εποπτεύονται από τα Υπουργεία Πολιτισμού, Ναυτιλίας, Τουρισμού κλπ.<br></p>
