<!-- <h2 class="text-dark mb-2">ΔΕΛΤΙΟ ΕΞΟΔΟΥ</h2>
<hr> -->

<h3 class="mb-0">Επιτυχώς ολοκληρωμένες θέσεις</h3>
<p class="mb-4">Έχετε ολοκληρώσει την πρακτική άσκηση ή/και τη φοίτησή σας στο τμήμα. Στη συνέχεια εμφανίζονται
  τυχόν επιτυχώς ή ανεπιτυχώς ολοκληρωμένες θέσεις πρακτικής άσκησης.</p>

<table class="manage-table resumes responsive-table dark-div">
  <tr>
    <th><i class="fa fa-file"></i> Τίτλος</th>
    <th><i class="fa fa-building"></i> Φορέας</th>
    <th><i class="fa fa-user"></i> Φοιτητής</th>
    <th>Ενέργειες</th>
  </tr>
  <tr class="dark-div">
    <td>Junior Java Developer</td>
    <td>Intrasoft International</td>
    <td class="title"><a href="#">Μαρία Αλεξίου</a></td>
    <td class="action">
      <!-- <a href="#"><i class="fa fa-pencil-alt"></i> Ερωτηματολόγιο πρακτικής</a> -->
      <a href="#"><i class="fa fa-pencil-alt"></i> Αξιολόγηση πρακτικής</a>
      <!-- <a class="text-danger text-bold" href="#"><i class="fa fa-book"></i> Δελτίο εξόδου</a> -->
    </td>
  </tr>
</table>
<hr>
<h2 class="text-dark mb-2">ΔΕΛΤΙΟ ΕΞΟΔΟΥ</h2>
<hr>
<div class="card-header p-2">
  <ul class="nav nav-pills">
    <li class="nav-item"><a class="nav-link active" href="#settings" data-toggle="tab">Προβολή</a>
    </li>
    <li class="nav-item"><a class="nav-link" href="#deltioEisodou" data-toggle="tab">Επεξεργασία</a></li>
  </ul>
</div>
<br>
<!-- <p >Παρακαλώ συμπληρώστε τα πεδία. Τα πεδία αυτά αφορούν μόνο εσάς αποκλειστικά.</p> -->
<h4 class="text-danger">Καθεστώς Εργασίας</h4>
<h4 class="text-danger">Ιδιωτικός Τομέας</h4>
<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Είμαι εγγεγραμμένος/η στον ΟΑΕΔ με κάρτα ανεργίας σε ισχύ</label><br>
<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Δεν είμαι εγγεγραμμένος/νη στον ΟΑΕΔ, ούτε εργάζομαι αλλά αναζητώ εργασία και είμαι άμεσα
  διαθέσισμος/η να εργαστώ</label><br>
<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Είμαι εργαζόμενος/η αυτοαπασχολούμενος/η</label><br>
<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Τίποτα από τα παραπάνω(δεν εργάζομαι, δεν είμαι εγγεγραμμένος άνεργος/η, δεν αναζητώ εργασία
  )</label><br>
<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Απασχολούμαι με σύμβαση εργασίας πλήρους απασχόλησης και αορίστου χρόνου</label><br>
<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Απασχολούμαι με σύμβαση εργασίας πλήρους απασχόλησης και ορισμένου χρόνου (συμπεριλαμβάνεται
  η εποχική απασχόληση)</label><br>


<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Απασχολούμαι με σύμβαση εργασίας μερικής απασχόλησης και αορίστου χρόνου</label><br>

<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Απασχολούμαι με σύμβαση εργασίας μερικής απασχόλησης και ορισμένου
  χρόνου(συμπεριλαμβάνεται η εποχική απασχόληση)</label><br>

<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Απασχολούμαι με εκ περιτροπής απασχόληση</label><br>

<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Απασχολούμαι αμειβόενος/η με εργόσημο</label><br>

<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Απασχολούμαι με σύμβαση ιδιωτικού δικαίου αορίστου χρόνου</label><br>

<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Απασχολούμαι με σύμβαση ιδιωτικού δικαίου ορισμένου χρόνου</label><br>

<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Απασχολούμαι ως μόνιμος/η Δημόσιος Υπάλληλος</label><br>

<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Μαθητής/τρια πρωτοβάθμιας η δευτεροβάθμιας εκπαίδευσης(Δημοτικό, Γυμνάιο, Λύκειο,
  Συμπεριλαμβάνονται και τα σχολεία
  Δεύτερης ευκαιρίας)</label><br>

<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Σπουδαστής/τρια σε Σχολή Επαγγελματικής Κατάρτισης ή σε ΙΕΚ ή σε Κολλέγιο ή σε Σχολές που
  εποπτεύονται από άλλα
  Υπουργεία</label><br>

<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Συμμετέχων/ουσα σε κάποιο πρόγραμμα συνεχιζόμενης επαγγελματικής κατάρτισης(π.χ.
  ΚΕΚ)</label><br>

<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Φοιτητής/τρια τριτοβάθμιας εκπαίδευσης πλήρους φοίτησης</label><br>

<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Συμμετέχων/ουσα σε άλλο πρόγραμμα πρακτικής άσκησης με αμοιβή</label><br>

<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Μεταπτυχιακός/ή Φοιτητής/τρια ή Διδάκτωρ</label><br>

<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Το πρόγραμμα εκπαίδευσης ή κατάρτισης στο οποίο συμμετέχετε, συγχρηματοδοτείται στο
  πλαίσιο προγράμματος ΕΣΠΑ</label><br>

<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Αποκτήθηκε εξειδίκευση ως αποτέλεσμα της συμμετοχής σας στην πρακτική άσκηση</label><br>

<br>
<button [routerLink]="['../sheets']" class="btn btn-secondary mr-2"> <i class="fas fa-angle-left"></i> Πισω</button>
<button class="btn btn-primary">Αποθήκευση <i class="fas fa-angle-right"></i></button>
<br>
