<div>
  <div class="alert alert-danger mt-3 mb-2" role="alert">
    Το δελτίο εξόδου έχει δημιουργηθεί. Πηγαίνετε στη καρτέλα <span
      (click)="tabGroup.selectedIndex = 1">'Προβολή'</span> για να το υπογράψετε, να το αποθηκεύσετε και να το
    εκτυπώσετε.
  </div>
</div>
<form ngNativeValidate #studentEntryForm="ngForm" class="form-horizontal"
  (ngSubmit)="onSubmitStudentEntrySheet(studentEntryForm.value)">
  <div class="alert alert-danger mt-3 mb-2" role="alert">
    Όλες οι ερωτήσεις διαθέτουν ως προεπιλογή το ΟΧΙ. Διαβάστε πολύ προσεκτικά τις ερωτήσεις-επεξηγήσεις και απαντήστε
    σε
    όλα τα ερωτήματα.
    <br>
    Το καθεστώς εργασίας αφορά συμβάσεις που έχετε εκτός της σύμβασης πρακτικής άσκησης ΕΣΠΑ.
  </div>

  <h3 class="text-danger pt-3">Α) Καθεστώς Εργασίας</h3>

  <p class="text-danger pt-4 mt-2">
    Προσοχή! Μία απο τις ερωτήσεις Α1, Α2, Α3, Α4, Α5, A6 θα πρέπει να είναι ΝΑΙ
  </p>

  <h4 class="text-dark"> Α1) Ανεργία </h4>

  <div *ngFor="let option of unemployedOption" class="container-fluid row">
    <div class="col-10">
      <label for="pr-sec-option1">
        <span style="font-weight: 500;">{{option.subCategory}})&nbsp;</span>{{option.text}}
      </label>
    </div>
    <div class="col-2 text-right">
      <mat-radio-group id="{{option.id}}" name="{{option.id}}" ngModel required aria-label="Select an option">
        <mat-radio-button value="1">ΝΑΙ &nbsp;</mat-radio-button>
        <mat-radio-button [checked]="true" value="0">ΟΧΙ</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <mat-divider class="mt-2 mb-2"></mat-divider>

  <h4 class="text-dark">Α2) Ιδιωτικός Τομέας</h4>

  <div *ngFor="let option of privateSecOptions" class="container-fluid row">
    <div class="col-10">
      <label for="pr-sec-option1">
        <span style="font-weight: 500;">{{option.subCategory}})&nbsp;</span>{{option.text}}
      </label>
    </div>
    <div class="col-2 text-right">
      <mat-radio-group id="{{option.id}}" name="{{option.id}}" ngModel required aria-label="Select an option">
        <mat-radio-button value="1">ΝΑΙ &nbsp;</mat-radio-button>
        <mat-radio-button [checked]="true" value="0">ΟΧΙ</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <mat-divider class="mt-2 mb-2"></mat-divider>

  <h4 class="text-dark">Α3) Απασχολούμενος στο Δημόσιο Τομέα</h4>

  <div *ngFor="let option of publicSecOptions" class="container-fluid row">
    <div class="col-10 ">
      <label for="pr-sec-option1">
        <span style="font-weight: 500;">{{option.subCategory}})&nbsp;</span>{{option.text}}
      </label>
    </div>
    <div class="col-2 text-right">
      <mat-radio-group id="{{option.id}}" name="{{option.id}}" ngModel required aria-label="Select an option">
        <mat-radio-button value="1">ΝΑΙ &nbsp;</mat-radio-button>
        <mat-radio-button [checked]="true" value="0">ΟΧΙ</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>



  <mat-divider class="mt-2 mb-2"></mat-divider>

  <h4 class="text-dark">Α4) Αυτοαπασχολούμενος</h4>

  <div class="container-fluid row">
    <div class="col-10 ">
      <label for="A4_1"><span style="font-weight: 500;">A4.1)</span> Είμαι αυτοαπασχολούμενος</label><br>
      <p style="padding:0px 0px 0px 40px;">α) Όσοι έχουν δική τους επιχείρηση ανεξαρτήτως από το εάν έχουν ή δεν έχουν
        πωλήσεις, παρεχόμενες υπηρεσίες ή κέρδη(περιλαμβάνονται και οι ελεύθεροι επαγγελματίες που δεν ασκούν
        δραστηριότητα
        <br>β) άτομα που βρίσκονται σε φάση έναρξης επαγγέλματος (π.χ έχουν παραγγείλει ή αγοράσει εξοπλισμό) και
        <br>γ) όσοι εργάζονται σε οικογενειακή επιχείρηση και αμείβονται ή όσοι εργάζονται σε οικογενειακή επιχείρηση
        και
        δεν
        αμείβονται αλλά ζουν μαζί στο ίδιο νοικοκυριό, δηλ συμβοηθούντα μέλη οικογενειακών επιχειρήσεων)<br></p>
    </div>
    <div class="col-2 text-right">
      <mat-radio-group id="A4_1" name="A4_1" ngModel required aria-label="Select an option">
        <mat-radio-button value="1">ΝΑΙ &nbsp;</mat-radio-button>
        <mat-radio-button [checked]="true" value="0">ΟΧΙ</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <mat-divider class="mt-2 mb-2"></mat-divider>

  <h4 class="text-dark">Α5) Άλλη σχέση εργασίας</h4>

  <div class="container-fluid row">
    <div class="col-10">
      <label for="A5_1"><span style="font-weight: 500;">A5.1)&nbsp;</span>Σχέση εργασίας (άλλη) που δεν
        εμπίπτει σε καμία απο τις παραπάνω
        κατηγορίες</label><br>
    </div>
    <div class="col-2 text-right">
      <mat-radio-group id="A5_1" name="A5_1" ngModel required aria-label="Select an option">
        <mat-radio-button value="1">ΝΑΙ &nbsp;</mat-radio-button>
        <mat-radio-button [checked]="true" value="0">ΟΧΙ</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>


  <mat-divider class="mt-2 mb-2"></mat-divider>

  <h4 class="text-dark">Α6) Μη υπαγωγή στις παραπάνω κατηγορίες</h4>

  <div *ngFor="let option of noCategoryOptions" class="container-fluid row">
    <div class="col-10 ">
      <label for="{{option.id}}">
        <span style="font-weight: 500;">{{option.subCategory}})&nbsp;</span>{{option.text}}
      </label>
    </div>
    <div class="col-2 text-right">
      <mat-radio-group id="{{option.id}}" name="{{option.id}}" ngModel required aria-label="Select an option">
        <mat-radio-button value="1">ΝΑΙ &nbsp;</mat-radio-button>
        <mat-radio-button [checked]="true" value="0">ΟΧΙ</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <mat-divider class="mt-2 mb-2"></mat-divider>

  <h3 class="text-danger pt-3">Β) Καθεστώς Εκπαίδευσης</h3>

  <div *ngFor="let option of educationStatusOptions" class="container-fluid row">
    <div class="col-10 ">
      <label for="{{option.id}}">
        <span style="font-weight: 500;">{{option.subCategory}})&nbsp;</span>{{option.text}}
      </label>
    </div>
    <div class="col-2 text-right">
      <mat-radio-group id="{{option.id}}" name="{{option.id}}" ngModel required aria-label="Select an option">
        <mat-radio-button value="1">ΝΑΙ &nbsp;</mat-radio-button>
        <mat-radio-button [checked]="true" value="0">ΟΧΙ</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <mat-divider class="mt-2 mb-2"></mat-divider>

  <h3 class="text-danger pt-3">Γ) Αποτελέσματα της δράσης</h3>

  <div class="container-fluid row">
    <div class="col-10 C1_1">
      <label for="pr-sec-option10"><span style="font-weight: 500;">Γ1.1)&nbsp;</span>Αποκτήθηκε εξειδίκευση μετά την
        συμμετοχή σας στο πρόγραμμα;
        (πιστοποιητικό, δίπλωμα, πτυχίο κοκ)</label><br>
    </div>
    <div class="col-2 text-right">
      <mat-radio-group id="C1_1" name="C1_1" ngModel required aria-label="Select an option">
        <mat-radio-button value="1">ΝΑΙ &nbsp;</mat-radio-button>
        <mat-radio-button [checked]="true" value="0">ΟΧΙ</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <br>
  <button [routerLink]="['../sheets']" class="btn btn-secondary mr-2"> <i class="fas fa-angle-left"></i> Πίσω</button>
  <button class="btn btn-primary">Αποθήκευση</button>
</form>
