<div *ngIf="this.entries[0]!=null">
  <div class="alert alert-danger mt-3 mb-2" role="alert">
    Το δελτίο εξόδου έχει δημιουργηθεί. Πηγαίνετε στη καρτέλα <span
      (click)="tabGroup.selectedIndex = 1">'Προβολή'</span> για να το αποθηκεύσετε και να το εκτυπώσετε.
  </div>
</div>
<form *ngIf="this.entries[0]==null" ngNativeValidate #studentEntryForm="ngForm" class="form-horizontal"
  (ngSubmit)="onSubmitStudentEntrySheet(studentEntryForm.value)">
  <div class="alert alert-danger mt-3 mb-2" role="alert">
    Κάποιες ερωτήσεις ενδέχεται να είναι προεπιλεγμένες. Διαβάστε πολύ προσεκτικά τις ερωτήσεις-επεξηγήσεις και
    απαντήστε σε όλα τα ερωτήματα.
    <br>
    Το καθεστώς εργασίας αφορά συμβάσεις που έχετε εκτός της σύμβασης πρακτικής άσκησης ΕΣΠΑ.
  </div>

  <h3 class="text-dark pt-3">Α) Καθεστώς Εργασίας 4 εβδομάδες μετά την Έξοδο από την πράξη και 6 μήνες μετά την Έξοδο
    από την πράξη</h3>

  <mat-divider class="mt-2 mb-2"></mat-divider>
  <!-- <h4 class="text-dark"> Ενεργή Εργασία </h4> -->
  <div *ngFor="let option of workOptionsOutputSheetMIS2127" class="container-fluid row">
    <div class="col-10">
      <label for="pr-sec-option1">
        <span style="font-weight: 500;">{{option.subCategory}})&nbsp;</span>{{option.text}}
      </label>
    </div>
    <div class="col-2 text-right">
      <mat-radio-group id="{{option.id}}" name="{{option.id}}" ngModel required aria-label="Select an option">
        <mat-radio-button value="1">ΝΑΙ &nbsp;</mat-radio-button>
        <mat-radio-button [checked]="true" value="0">ΟΧΙ</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <mat-divider class="mt-2 mb-2"></mat-divider>

  <h3 class="text-danger pt-3">Β) Καθεστώς Εκπαίδευσης</h3>
  <div *ngFor="let option of educationOptionsOutputSheetMIS2127" class="container-fluid row">
    <div class="col-10">
      <label for="{{option.id}}">
        <span style="font-weight: 500;">{{option.subCategory}})&nbsp;</span>{{option.text}}
      </label>
    </div>
    <div class="col-2 text-right">
      <mat-radio-group *ngIf="option.id == 'B1' || option.id == 'B2' || option.id == 'B4' || option.id == 'B5'"
        name="{{option.id}}" [(ngModel)]="selectedNOOption" id="{{option.id}}" [disabled]="true" required
        aria-label="Select an option">
        <mat-radio-button [value]="1">ΝΑΙ &nbsp;</mat-radio-button>
        <mat-radio-button [checked]="true" [value]="0">ΟΧΙ</mat-radio-button>
      </mat-radio-group>

      <mat-radio-group *ngIf="option.id == 'B'" name="{{option.id}}" [(ngModel)]="optionValue" id="{{option.id}}"
        required aria-label="Select an option">
        <mat-radio-button [value]="1">ΝΑΙ &nbsp;</mat-radio-button>
        <mat-radio-button [value]="0">ΟΧΙ</mat-radio-button>
      </mat-radio-group>

      <mat-radio-group *ngIf="option.id == 'B3' && optionValue == 1" name="{{option.id}}"
        [(ngModel)]="selectedYESOption" id="{{option.id}}" required aria-label="Select an option">
        <mat-radio-button [value]="1">ΝΑΙ &nbsp;</mat-radio-button>
        <mat-radio-button [value]="0" [disabled]="true">ΟΧΙ</mat-radio-button>
      </mat-radio-group>

      <mat-radio-group *ngIf="option.id == 'B3' && optionValue == 0" name="{{option.id}}" [(ngModel)]="selectedNOOption"
        id="{{option.id}}" required aria-label="Select an option">
        <mat-radio-button [value]="1" [disabled]="true">ΝΑΙ &nbsp;</mat-radio-button>
        <mat-radio-button [value]="0">ΟΧΙ</mat-radio-button>
      </mat-radio-group>

      <mat-radio-group *ngIf="option.id == 'B3' && optionValue == null" name="{{option.id}}" id="{{option.id}}" required
        aria-label="Select an option">
        <mat-radio-button [value]="1">ΝΑΙ &nbsp;</mat-radio-button>
        <mat-radio-button [value]="0">ΟΧΙ</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <mat-divider class="mt-2 mb-2"></mat-divider>


  <h3 class="text-danger pt-3">E) Στοιχεία Πρακτικής</h3>

  <div *ngFor="let option of internshipExperienceOutputSheetMIS2127" class="container-fluid row">
    <div class="col-10 ">
      <label for="{{option.id}}">
        <span style="font-weight: 500;">{{option.subCategory}})&nbsp;</span>{{option.text}}
      </label>
    </div>
    <div class="col-2 text-right">
      <mat-radio-group id="{{option.id}}" name="{{option.id}}" ngModel required aria-label="Select an option">
        <mat-radio-button value="1">ΝΑΙ &nbsp;</mat-radio-button>
        <mat-radio-button [checked]="true" value="0">ΟΧΙ</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <br>
  <button [routerLink]="['../sheets/' + authService.getSessionId()]" class="btn btn-secondary mr-2"> <i
      class="fas fa-angle-left"></i> Πίσω</button>
  <button class="btn btn-primary">Αποθήκευση</button>
</form>
