<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Αιτήσεις φοιτητών</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <button class="btn btn-primary" (click)="exportToExcel()"><i class='fas fa-file-export'
                style='font-size:24px'></i> Excel</button>
            &nbsp;
            <button class="btn btn-primary" (click)="printDataTable()"><i class='fas fa-print'
                style='font-size:24px'></i> Print</button>
            <br><br>
            <!-- <table id="example" class="table table-bordered table-striped" datatable [dtOptions]="dtOptions"> -->
            <table id="example" #example class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Επιλογή</th>
                  <th>Ονοματεπώνυμο</th>
                  <!-- <th>Πατρώνυμο</th> -->
                  <th>ΑΜ</th>
                  <!-- <th>email</th> -->
                  <th>Υπηρετώ στο στρατό</th>
                  <th>AMEA κατηγορίας 5</th>
                  <th>Σύμβαση εργασίας</th>
                  <th>Έγγραφα</th>
                  <th class="text-center">Ενέργειες</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let student of studentsData ; let idx=index" [attr.data-index]="idx">
                  <td>
                    <p style="display:none">
                      {{student.phase == 2 ? 'Ενεργός' : student.phase == 1 ? 'Προς επιλογή' : 'Απορρίφτηκε'}}</p>
                    <mat-form-field id="{{student.sso_uid}}" name="phase" style="width:100%;" appearance="standard">
                      <mat-label>Προς επιλογή</mat-label>
                      <mat-select value="{{student.phase == 2 ? 'option1' : student.phase == 1 ? '' : 'option2'}}"
                        name="phase">
                        <!-- <mat-option>Επιλέξτε...</mat-option> -->
                        <mat-option value="option1" (click)="onSubmitSelect('option1', student.sso_uid)">Αποδοχή
                        </mat-option>
                        <mat-option value="option2" (click)="onSubmitSelect('option2', student.sso_uid)">Απόρριψη
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                  <td>{{student.givenname}} {{student.sn}}</td>
                  <!-- <td>{{student.father_name}}</td> -->
                  <td>{{student.schacpersonaluniquecode}}</td>
                  <!-- <td>{{student.id}}.uop.gr</td> -->
                  <td [ngClass]="student.military_training == true ? 'text-danger' : 'text-dark'">
                    {{student.military_training == true ? 'ΝΑΙ' : 'OXI'}}</td>
                  <td [ngClass]="student.amea_cat == true ? 'text-danger' : 'text-dark'">
                    {{student.amea_cat == true ? 'ΝΑΙ' : 'OXI'}}</td>
                  <td [ngClass]="student.working_state == true ? 'text-danger' : 'text-dark'">
                    {{student.working_state == true ? 'ΝΑΙ' : 'OXI'}}</td>
                  <td class="reponsive-text-center-td">
                    <button (click)="receiveFile(student.sso_uid, 'IBAN')"
                      class=" mt-0 mb-0 pt-0 pb-0 btn btn-primary mr-3 td-button-responsive"> <i class="fa fa-download"
                        aria-hidden="true"></i> IBAN
                    </button>
                    <button (click)="receiveFile(student.sso_uid, 'SSN')"
                      class="mt-0 mb-0 pt-0 pb-0 btn btn-primary mr-3 td-button-responsive">
                      <i class="fa fa-download" aria-hidden="true"></i> ΑΦΜ
                    </button>
                    <button *ngIf="student.amea_cat == true" (click)="receiveFile(student.sso_uid, 'AMEA')"
                      class="mt-0 mb-0 pt-0 pb-0 btn btn-primary td-button-responsive">
                      <i class="fa fa-download" aria-hidden="true"></i> AMEA
                    </button>
                  </td>
                  <td class="action text-center">
                    <a (click)="openDialog(idx)" class="text-secondary" style="cursor: pointer;"><i
                        class="fa fa-eye"></i> Προβολή<br></a>
                    <!-- <a href="#" class="delete text-danger"><i class="fa fa-trash-alt"></i> Ακύρωση</a> -->
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>Επιλογή</th>
                  <th>Ονοματεπώνυμο</th>
                  <!-- <th>Πατρώνυμο</th> -->
                  <th>ΑΜ</th>
                  <!-- <th>email</th> -->
                  <th>Υπηρετώ στο στρατό</th>
                  <th>AMEA κατηγορίας 5</th>
                  <th>Σύμβαση εργασίας</th>
                  <th>Έγγραφα</th>
                  <th class="text-center">Ενέργειες</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->
