<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Αιτήσεις φοιτητών</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <button class="btn btn-primary">Excel</button>
            <br><br>
            <table id="example" class="table table-bordered table-striped" datatable [dtOptions]="dtOptions">
              <thead>
                <tr>
                  <th>Όνομα</th>
                  <th>email</th>
                  <th>Φορέας</th>
                  <th>
                    Αρ. Πρωτοκόλλου</th>
                  <th> Ημ. Πρωτοκόλλου</th>
                  <th> Κατάσταση </th>
                  <th> Σκορ </th>
                  <th class="text-center">Ενέργειες</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Γιώργος Παπακώστας</td>
                  <td>pcst{{randomNumber()}}.uop.gr</td>
                  <td>
                    <ul>
                      <li>Aofsointr Inc</li>
                      <li>BOsointr Inc</li>
                      <li>COsointr Inc</li>
                      <li>BOsointr Inc</li>
                      <li>COsointr Inc</li>
                    </ul>
                  </td>
                  <td>{{randomNumber()}}</td>
                  <td>25/01/2021</td>
                  <td>Ενεργή</td>
                  <td>7.8</td>
                  <td class="action text-center">
                    <a href="#" class="text-secondary"><i class="fa fa-eye"></i> Προβολή<br></a>
                    <a href="#" class="delete text-danger"><i class="fa fa-trash-alt"></i> Ακύρωση</a>
                  </td>
                </tr>
                <tr>
                  <td>Μαρία</td>
                  <td>pcst{{randomNumber()}}.uop.gr</td>
                  <td>
                    <ul>
                      <li>Bofsointr Inc</li>
                      <li>BOsointr Inc</li>
                      <li>COsointr Inc</li>
                    </ul>
                  </td>
                  <td>
                    {{randomNumber()}}</td>
                  <td>25/01/2021</td>
                  <td>Ενεργή</td>
                  <td>7.4</td>
                  <td class="action text-center">
                    <a href="#" class="text-secondary"><i class="fa fa-eye"></i> Προβολή<br></a>
                    <a href="#" class="delete text-danger"><i class="fa fa-trash-alt"></i> Ακύρωση</a>
                  </td>
                </tr>
                <tr>
                  <td>Γεωργία</td>
                  <td>pcst{{randomNumber()}}.uop.gr</td>
                  <td>
                    <ul>
                      <li>Bofsointr Inc</li>
                      <li>BOsointr Inc</li>
                      <li>COsointr Inc</li>
                    </ul>
                  </td>
                  <td>{{randomNumber()}}
                  </td>
                  <td>25/01/2021</td>
                  <td>Ενεργή</td>
                  <td>7.9</td>
                  <td class="action text-center">
                    <a href="#" class="text-secondary"><i class="fa fa-eye"></i> Προβολή<br></a>
                    <a href="#" class="delete text-danger"><i class="fa fa-trash-alt"></i> Ακύρωση</a>
                  </td>
                </tr>
                <tr>
                  <td>Αλέξανδρος</td>
                  <td>pcst{{randomNumber()}}.uop.gr</td>
                  <td>Aofsointr Inc</td>
                  <td>{{randomNumber()}}</td>
                  <td>25/01/2021</td>
                  <td>Ενεργή</td>
                  <td>5.4</td>
                  <td class="action text-center">
                    <a href="#" class="text-secondary"><i class="fa fa-eye"></i> Προβολή<br></a>
                    <a href="#" class="delete text-danger"><i class="fa fa-trash-alt"></i> Ακύρωση</a>
                  </td>
                </tr>
                <tr>
                  <td>Κωνσταντίνος</td>
                  <td>pcst{{randomNumber()}}.uop.gr</td>
                  <td>Aofsointr Inc</td>
                  <td>{{randomNumber()}}</td>
                  <td>25/01/2021</td>
                  <td>Ενεργή</td>
                  <td>8.4</td>
                  <td class="action text-center">
                    <a href="#" class="text-secondary"><i class="fa fa-eye"></i> Προβολή<br></a>
                    <a href="#" class="delete text-danger"><i class="fa fa-trash-alt"></i> Ακύρωση</a>
                  </td>
                </tr>
                <tr>
                  <td>Μιχάλης</td>
                  <td>pcst{{randomNumber()}}.uop.gr</td>
                  <td>Aofsointr Inc</td>
                  <td>{{randomNumber()}}</td>
                  <td>25/01/2021</td>
                  <td>Ενεργή</td>
                  <td>7.0</td>
                  <td class="action text-center">
                    <a href="#" class="text-secondary"><i class="fa fa-eye"></i> Προβολή<br></a>
                    <a href="#" class="delete text-danger"><i class="fa fa-trash-alt"></i> Ακύρωση</a>
                  </td>
                </tr>
                <tr>
                  <td>Ευάγγελος</td>
                  <td>pcst{{randomNumber()}}.uop.gr</td>
                  <td>Aofsointr Inc</td>
                  <td>{{randomNumber()}}</td>
                  <td>25/01/2021</td>
                  <td>Ενεργή</td>
                  <td>6.4</td>
                  <td class="action text-center">
                    <a href="#" class="text-secondary"><i class="fa fa-eye"></i> Προβολή<br></a>
                    <a href="#" class="delete text-danger"><i class="fa fa-trash-alt"></i> Ακύρωση</a>
                  </td>
                </tr>
                <tr>
                  <td>Μαρίνα</td>
                  <td>pcst{{randomNumber()}}.uop.gr</td>
                  <td>Aofsointr Inc</td>
                  <td>{{randomNumber()}}</td>
                  <td>25/01/2021</td>
                  <td>Ενεργή</td>
                  <td>5.4</td>
                  <td class="action text-center">
                    <a href="#" class="text-secondary"><i class="fa fa-eye"></i> Προβολή<br></a>
                    <a href="#" class="delete text-danger"><i class="fa fa-trash-alt"></i> Ακύρωση</a>
                  </td>
                </tr>
                <tr>
                  <td>Αρχιμήδης</td>
                  <td>pcst{{randomNumber()}}.uop.gr</td>
                  <td>Aofsointr Inc</td>
                  <td>{{randomNumber()}}</td>
                  <td>25/01/2021</td>
                  <td>Ακυρωμένη</td>
                  <td>4.4</td>
                  <td class="action text-center">
                    <a href="#" class="text-secondary"><i class="fa fa-eye"></i> Προβολή<br></a>
                    <a href="#" class="delete text-danger"><i class="fa fa-trash-alt"></i> Ακύρωση</a>
                  </td>
                </tr>
                <tr>
                  <td>Σάντυ</td>
                  <td>pcst{{randomNumber()}}.uop.gr</td>
                  <td>Aofsointr Inc</td>
                  <td>{{randomNumber()}}</td>
                  <td>25/01/2021</td>
                  <td>Ενεργή</td>
                  <td>9.4</td>
                  <td class="action text-center">
                    <a href="#" class="text-secondary"><i class="fa fa-eye"></i> Προβολή<br></a>
                    <a href="#" class="delete text-danger"><i class="fa fa-trash-alt"></i> Ακύρωση</a>
                  </td>
                </tr>
                <tr>
                  <td>Σάντυ</td>
                  <td>pcst{{randomNumber()}}.uop.gr</td>
                  <td>Aofsointr Inc</td>
                  <td>{{randomNumber()}}</td>
                  <td>25/01/2021</td>
                  <td>Ενεργή</td>
                  <td>7.4</td>
                  <td class="action text-center">
                    <a href="#" class="text-secondary"><i class="fa fa-eye"></i> Προβολή<br></a>
                    <a href="#" class="delete text-danger"><i class="fa fa-trash-alt"></i> Ακύρωση</a>
                  </td>
                </tr>
                <tr>
                  <td>Σάντυ</td>
                  <td>pcst{{randomNumber()}}.uop.gr</td>
                  <td>Aofsointr Inc</td>
                  <td>{{randomNumber()}}</td>
                  <td>25/01/2021</td>
                  <td>Ενεργή</td>
                  <td>5.4</td>
                  <td class="action text-center">
                    <a href="#" class="text-secondary"><i class="fa fa-eye"></i> Προβολή<br></a>
                    <a href="#" class="delete text-danger"><i class="fa fa-trash-alt"></i> Ακύρωση</a>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>Όνομα φοιτητή</th>
                  <th>email</th>
                  <th> Φορέας</th>
                  <th>
                    Αρ. Πρωτοκόλλου</th>
                  <th> Ημ. Πρωτοκόλλου</th>
                  <th> Κατάσταση </th>
                  <th> Σκορ </th>
                  <th class="text-center">Ενέργειες</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->
