<h2 mat-dialog-title>{{'HOME.TERMS2' | translate}}</h2>
<mat-dialog-content class="mat-typography">
  <h3>{{'HOME.TERMS-GENERIC' | translate}}</h3>
  <p>{{'HOME.TERMS-P1' | translate}}</p>
  <p>{{'HOME.TERMS-P2' | translate}}</p>
  <p>{{'HOME.TERMS-P3' | translate}}</p>
  <br>
  <div class="revision">
    <p>{{'HOME.TERMS-LAST UPDATE' | translate}}</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions style='justify-content: flex-end;'>
  <button mat-button class="btn btn-primary mat-button" (click)="onCancel()"> {{'HOME.CONTINUE-BTN' | translate}}
  </button>
</mat-dialog-actions>
