<div id="content" class="content mt-4" role="main" id="a1">
  <div id="main-terms-div">
    <div class="mt-0" style="max-width:400px;margin:auto;">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Όνομα Χρήστη</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Όνομα χρήστη">

        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Κωδικός</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Κωδικός">
        </div>
        <!-- <div class="form-check ml-2">
          <input type="checkbox" (click)="passwordToggle()" class="form-check-input" id="pswd_show">
          <label class="form-check-label" for="exampleCheck1">Εμφάνιση κωδικού</label>
        </div> -->
        <div class="grid-container v1_8">
          <div class="form-check v3_36">
            <input type="checkbox" (click)="passwordToggle()" class="form-check-input" id="pswd_show">
            <label class="form-check-label" for="exampleCheck1">Εμφάνιση κωδικού</label>
          </div>
          <!-- <span class="v3_36">Remember me</span> -->
          <div></div>
          <button class="v1_24">Forgot password?</button>
        </div>
        <div class="grid-container">
          <button type="submit" [routerLink]="['/']" class="mt-4 btn btn-secondary">Πίσω</button>
          <div></div>
          <button type="submit" class="mt-4 btn btn-primary">Υποβολή</button>
        </div>
      </form>
    </div>
  </div>
</div>
