* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  border-radius: 8px !important;
  position: relative;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
  border: 1px solid rgba(9, 53, 69, 1);
}

.grid-container {
  display: grid;
  grid-template-columns: 7fr 1fr 7fr;
  grid-gap: 10px;
  border-radius: 10px;
  padding: 10px;
}

.grid-container>div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  max-width: 290px;
  font-size: 30px;
}

.v1_24 {
  color: rgba(32, 223, 127, 1);
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 18px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
}

.v3_36 {
  font-family: Montserrat;
  font-size: 18px !important;
}

.v3_35 {
  background: rgba(34, 73, 87, 1);
}

#main-terms-div {
  /* slide in animation */
  animation-duration: 0.7s;
  animation-name: slidein;
  transition: all 0.7s ease-in-out;
}

@keyframes slidein {
  from {
    /* background-color: #fff; */
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    /* background-color: #fff; */
    width: 100%;
  }
}
