 <section class="content">
   <div class="container-fluid">
     <div class="row">
       <div class="col-12">
         <div class="card">
           <!-- The nav menu for all the options in that specific screen. -->
           <app-sheets-contracts-nav-menu-office [activeLink]="'payment-orders'"></app-sheets-contracts-nav-menu-office>


           <div class="pb-0 mb-0 pl-3 container-responsive row my-container">
             <h5 class="mt-0 pt-0 col-12 col-sm-2 my-auto">
               Επιλογή Τμήματος: </h5>
             <!-- <p *ngFor="let academic of officeUserAcademics">{{academic?.department}}</p> -->
             <div class="col-12 col-sm-10 pt-3">
               <div class="form-group col-md-4 mb-0 pb-0">
                 <mat-form-field appearance="outline" style="min-width:310px;">
                   <mat-label>Τμήμα</mat-label>
                   <mat-select #departmentSelect formControlName="acadmic_type" [disableOptionCentering]="true">
                     <mat-option *ngFor="let academic of officeUserAcademics" [value]="academic"
                       (click)="onDepartmentChange(academic)">
                       {{academic.department}}
                     </mat-option>
                   </mat-select>
                 </mat-form-field>
               </div>
             </div>
           </div>
           <div class="pb-0 mt-0 mb-0 pl-3 container-responsive row my-container">
             <h5 class="mt-0 pt-0 col-12 col-sm-2 my-auto">
               Επιλογή Περιόδου: </h5>
             <!-- <p *ngFor="let academic of officeUserAcademics">{{academic?.department}}</p> -->
             <div class="col-12 col-sm-10 pt-3">
               <div class="form-group col-md-4 mb-0 pb-0">
                 <mat-form-field appearance="outline" style="min-width:310px;">
                   <mat-label>Περίοδος</mat-label>
                   <mat-select #periodFormSelect formControlName="period_form" [disableOptionCentering]="true">
                     <mat-option *ngIf="periods && this.periods.length == 0" [value]="null"
                       (click)="onPeriodChange(null)">
                       {{'καμία επιλογή'}}
                     </mat-option>
                     <div *ngIf="periods && periods.length > 0">
                       <mat-option *ngFor="let period of this.periods" [value]="period"
                         (click)="onPeriodChange(period?.id||null)">
                         {{(period?.semester == 1 ? 'Χειμερινό ' : 'Εαρινό ') }}
                         {{period?.date_from | date:'dd/MM/yyyy'}} - {{period?.date_to | date:'dd/MM/yyyy'}}
                       </mat-option>
                     </div>
                   </mat-select>
                 </mat-form-field>
               </div>
             </div>
           </div>
           <!-- </div> -->
           <!-- /.card-header -->
           <div class="card-body">
             <div class="tab-content">
               <div class="tab-pane active" id="sheet-input-tab">
                 <button class="btn btn-primary mt-0" (click)="exportToExcel()"><i class='fas fa-file-export'
                     style='font-size:24px'></i> Excel</button>
                 &nbsp;<br><br>

                 <div style="display: flex; justify-content: space-between; align-items: center;">
                   <div class="pl-2 pb-0">
                     <strong>Πλήθος Εντολών Πληρωμών:</strong> {{studentsData.length}}
                   </div>
                   <mat-form-field style="float:right" class="mt-0 mb-0" appearance="outline">
                     <mat-label>Αναζήτηση</mat-label>
                     <input matInput #inputSearch (keyup)="searchStudents()">
                     <!-- <button *ngIf="inputSearch.value" matSuffix mat-icon-button aria-label="Clear"
                      (click)="inputSearch.value=''">
                      <i>close</i>
                    </button> -->
                   </mat-form-field>
                 </div>
                 <table id="paymentsTable" #paymentsTable class="table table-bordered table-striped">
                   <thead>
                     <tr>
                       <th>A/A</th>
                       <th>Ονοματεπώνυμο</th>
                       <th>ΑΜ</th>
                       <th>Φορέας</th>
                       <th>Υπογραφή Σύμβασης</th>
                       <th>Χρονικό Διάστημα</th>
                       <th class="text-center">Επεξεργασία Εντολής</th>
                       <th class="text-center">Κατέβασμα Εντολής</th>
                       <th>Ολοκληρωμένη ΠΑ</th>
                     </tr>
                   </thead>
                   <tbody>
                     <tr *ngFor="let student of (filteredData.length ? filteredData : studentsData) ; let idx=index"
                       [attr.data-index]="idx">
                       <td>{{idx + 1}}</td>
                       <td><a class="custom-info-btn" (click)="openDialog(student.student_id)">{{student.givenname}}
                           {{student.sn}}</a>
                       <td>{{student.schacpersonaluniquecode}}</td>
                       <td class="action text-center"><span (click)="openCompanyInfoDialog(student.position_id)" class="text-secondary custom-info-btn
                          text-with-dots">
                           <i class="fa fa-eye"></i> Στοιχεία Φορέα</span></td>
                       <!-- <td class="reponsive-text-center-td">
                        <button (click)="receiveFile(student.sso_uid, 'IBAN')"
                          class=" mt-0 mb-0 pt-0 pb-0 btn btn-primary mr-3 td-button-responsive"> <i
                            class="fa fa-download" aria-hidden="true"></i> IBAN
                        </button>
                        <button (click)="receiveFile(student.sso_uid, 'SSN')"
                          class="mt-0 mb-0 pt-0 pb-0 btn btn-primary mr-3 td-button-responsive">
                          <i class="fa fa-download" aria-hidden="true"></i> ΑΦΜ
                        </button>
                        <button *ngIf="student.amea_cat == true" (click)="receiveFile(student.sso_uid, 'AMEA')"
                          class="mt-0 mb-0 pt-0 pb-0 btn btn-primary td-button-responsive">
                          <i class="fa fa-download" aria-hidden="true"></i> AMEA
                        </button>
                      </td> -->
                       <td class="action text-center">
                         {{formatDate(student.sign_date)}}
                       </td>
                       <td class="action text-center">
                         {{formatDate(student.pa_start_date) + ' - ' + formatDate(student.pa_end_date)}}
                       </td>
                       <td class="action text-center">
                         <a (click)="openEditPaymentOrderDialog(idx)" class="text-secondary" style="cursor: pointer;"><i
                             class="fa fa-cog"></i> Επεξεργασία<br></a>
                       </td>
                       <td class="action text-center" *ngIf="student?.status == 1">
                         <!-- this case gets executed when input/output sheets have been created + internship has been completed -->
                         <a (click)="downloadPaymentOrderFileForStudent(student.uuid, idx)" class="text-secondary"
                           style="cursor: pointer;"><i class="fa fa-download"></i> Κατέβασμα<br></a>
                         <!-- <a href="#" class="delete text-danger"><i class="fa fa-trash-alt"></i> Ακύρωση</a> -->
                       </td>
                       <td class="action text-center" *ngIf="student?.status != 1">
                         <!-- this case gets executed when either input/output sheets haven't been created or internship hasn't been completed -->
                         <a> Εκκρεμούν Απ. Δελτία</a>
                         <!-- <a href="#" class="delete text-danger"><i class="fa fa-trash-alt"></i> Ακύρωση</a> -->
                       </td>
                       <td>{{student?.status == 1 ? 'ΝΑΙ' : 'ΟΧΙ'}}</td>
                     </tr>
                   </tbody>
                   <tfoot>
                     <tr>
                       <th>A/A</th>
                       <th>Ονοματεπώνυμο</th>
                       <th>ΑΜ</th>
                       <th>Φορέας</th>
                       <th>Υπογραφή σύμβασης</th>
                       <th>Χρονικό Διάστημα</th>
                       <th class="text-center">Επεξεργασία Σύμβασης</th>
                       <th class="text-center">Κατέβασμα Σύμβασης</th>
                       <th>Ολοκληρωμένη ΠΑ</th>
                     </tr>
                   </tfoot>
                 </table>
               </div>

               <!-- /.card-body -->
             </div>
             <!-- /.card -->
           </div>
         </div>
       </div>
       <!-- /.col -->
     </div>
     <!-- /.row -->
   </div>
   <!-- /.container-fluid -->
 </section>
 <!-- /.content -->
