<div class="container-fluid mt-5" style="max-width:90%;margin:auto;" *ngIf="isPhaseExpired">
  <div class="alert alert-warning p-4" role="alert" style="font-size: 1.2rem;">
  <strong>Η φάση της δήλωσης θέσεων έχει λήξει.</strong><br>
  Δεν μπορείτε πλέον να αποδεχτείτε θέσεις πρακτικής άσκησης.
</div>
</div>
<div class="container-fluid mt-5" style="max-width:90%;margin:auto;" *ngIf="!isPhaseExpired">
  <h2 class="position-h2">Αποδοχή Θέσης
  </h2>
  <div *ngIf="positionAssigned">
    <div class="alert alert-danger p-2 mt-2 " role="alert">Έχετε ήδη αποδεχθεί την παρακάτω θέση</div>
    <table class="manage-table submissions responsive-table dark-div mt-3">
      <tr>
        <th>Α / Α</th>
        <th>Εταιρεία </th>
        <th>Τίτλος Θέσης</th>
        <th>Τοποθεσία</th>
      </tr>
      <tr class="dark-div
        submissions-div">
        <td>{{positionAssignedIndex + 1}}</td>
        <td>{{assignments[positionAssignedIndex].name}}</td>
        <td>{{assignments[positionAssignedIndex].title}}</td>
        <td>{{assignments[positionAssignedIndex].city}}</td>
      </tr>
    </table>
  </div>
  <div *ngIf="!positionAssigned">
    <div class="alert alert-danger p-2 mt-2" role="alert">Παρακάτω φαίνονται οι φορείς που σας έχουν επιλέξει. Θα
      πρέπει να γίνει επιλογή και από την πλευρά σας. Η επιλογή αυτή είναι οριστική.</div>
    <!-- Assignments Table -->
    <table class="manage-table submissions responsive-table dark-div mt-3">
      <tr>
        <th>Α / Α</th>
        <th>Εταιρεία </th>
        <th>Τίτλος Θέσης</th>
        <th>Τοποθεσία</th>
        <th>Ενέργειες</th>
      </tr>
      <tr *ngFor="let application of assignments; let appIndex=index" [attr.data-index]="appIndex" class="dark-div
        submissions-div">
        <td>{{appIndex + 1}}</td>
        <td>{{application.name}}</td>
        <td>{{application.title}}</td>
        <td>{{application.city}}</td>
        <!-- <td>
          <i class="fa fa-check" *ngIf="application.position_id"></i>
          <i class="fa fa-times" *ngIf="!application.position_id"></i>
          {{(application.approval_state) ? ' Ενεργή' : ' Ανενεργή'}}
        </td> -->
        <td class="action">
          <button (click)="acceptCompanyPositionAlert(appIndex)" class="btn btn-primary"><i class="fa fa-check"></i>
            Αποδοχη Θεσης</button>
        </td>
      </tr>
    </table>
  </div>
</div>
