<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">

          <!-- The nav menu for all the options in that specific screen. -->
          <app-sheets-contracts-nav-menu-office [activeLink]="'sheet-input'"></app-sheets-contracts-nav-menu-office>

          <div class="pb-0 mb-0 pl-3 container-responsive row my-container">
            <h5 class="mt-0 pt-0 col-12 col-sm-2 my-auto">
              Επιλογή Τμήματος: </h5>
            <!-- <p *ngFor="let academic of officeUserAcademics">{{academic?.department}}</p> -->
            <div class="col-12 col-sm-10 pt-3">
              <div class="form-group col-md-4 mb-0 pb-0">
                <mat-form-field appearance="outline" style="min-width:310px;">
                  <mat-label>Τμήμα</mat-label>
                  <mat-select #departmentSelect formControlName="acadmic_type" [disableOptionCentering]="true">
                    <mat-option *ngFor="let academic of officeUserAcademics" [value]="academic"
                      (click)="onDepartmentChange(academic)">
                      {{academic.department}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="pb-0 mt-0 mb-0 pl-3 container-responsive row my-container">
            <h5 class="mt-0 pt-0 col-12 col-sm-2 my-auto">
              Επιλογή Περιόδου: </h5>
            <!-- <p *ngFor="let academic of officeUserAcademics">{{academic?.department}}</p> -->
            <div class="col-12 col-sm-10 pt-3">
              <div class="form-group col-md-4 mb-0 pb-0">
                <mat-form-field appearance="outline" style="min-width:310px;">
                  <mat-label>Περίοδος</mat-label>
                  <mat-select #periodFormSelect formControlName="period_form" [disableOptionCentering]="true">
                    <mat-option *ngIf="periods && this.periods.length == 0" [value]="null"
                      (click)="onPeriodChange(null)">
                      {{'καμία επιλογή'}}
                    </mat-option>
                    <div *ngIf="periods && periods.length > 0">
                      <mat-option *ngFor="let period of this.periods" [value]="period"
                        (click)="onPeriodChange(period?.id||null)">
                        {{(period?.semester == 1 ? 'Χειμερινό ' : 'Εαρινό ') }}
                        {{'- Λήξη: '}} {{period?.date_to | date:'dd/MM/yyyy'}}
                      </mat-option>
                    </div>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <!-- </div> -->
          <!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="sheet-input-tab">

                <div style="display: flex; justify-content: space-between; align-items: center;">
                  <div class="pl-2 pb-0">
                    <strong>Πλήθος Δελτίων:</strong> {{studentsData.length}}
                  </div>
                  <mat-form-field style="float:right" class="mt-0 mb-0" appearance="outline">
                    <mat-label>Αναζήτηση</mat-label>
                    <input matInput #inputSearch (keyup)="searchStudents()">
                    <!-- <button *ngIf="inputSearch.value" matSuffix mat-icon-button aria-label="Clear"
                      (click)="inputSearch.value=''">
                      <i>close</i>
                    </button> -->
                  </mat-form-field>
                </div>
                <table id="sheetInputTable" #sheetInputTable class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <!-- <th>Επιλογή</th> -->
                      <th>Ονοματεπώνυμο</th>
                      <!-- <th>Πατρώνυμο</th> -->
                      <th>ΑΜ</th>
                      <th>email</th>
                      <!-- <th>Έγγραφα</th> -->
                      <th>Αριθμός Δελτίου Online</th>
                      <th>XML</th>
                      <th class="text-center">Ενέργειες</th>
                      <th class="text-center">ΟΠΣ</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let student of (filteredData.length ? filteredData : studentsData); let idx=index"
                      [attr.data-index]="idx">
                      <!-- <td>
                        <p style="display:none">
                          {{student.phase == 2 ? 'Ενεργός' : student.phase == 1 ? 'Προς επιλογή' : 'Απορρίφτηκε'}}</p>
                        <mat-form-field id="{{student.sso_uid}}" name="phase" style="width:100%;" appearance="standard">
                          <mat-label>Προς επιλογή</mat-label>
                          <mat-select value="{{student.phase == 2 ? 'option1' : student.phase == 1 ? '' : 'option2'}}"
                            name="phase">
                            <mat-option value="option3" (click)="onSubmitSelect('option3', student.sso_uid)">Προς
                              επιλογή
                            </mat-option>
                            <mat-option value="option1" (click)="onSubmitSelect('option1', student.sso_uid)">Αποδοχή
                            </mat-option>
                            <mat-option value="option2" (click)="onSubmitSelect('option2', student.sso_uid)">Απόρριψη
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <a class="text-secondary w-100" style="cursor: pointer;" (click)="openCommentsDialog(idx)"><i
                            class="fas fa-edit"></i> Σχόλιο<br></a>
                      </td> -->
                      <td>{{student.givenname}} {{student.sn}}</td>
                      <!-- <td>{{student.father_name}}</td> -->
                      <td>{{student.schacpersonaluniquecode}}</td>
                      <td>{{student.mail}}</td>

                      <!-- <td class="reponsive-text-center-td">
                        <button (click)="receiveFile(student.sso_uid, 'IBAN')"
                          class=" mt-0 mb-0 pt-0 pb-0 btn btn-primary mr-3 td-button-responsive"> <i
                            class="fa fa-download" aria-hidden="true"></i> IBAN
                        </button>
                        <button (click)="receiveFile(student.sso_uid, 'SSN')"
                          class="mt-0 mb-0 pt-0 pb-0 btn btn-primary mr-3 td-button-responsive">
                          <i class="fa fa-download" aria-hidden="true"></i> ΑΦΜ
                        </button>
                        <button *ngIf="student.amea_cat == true" (click)="receiveFile(student.sso_uid, 'AMEA')"
                          class="mt-0 mb-0 pt-0 pb-0 btn btn-primary td-button-responsive">
                          <i class="fa fa-download" aria-hidden="true"></i> AMEA
                        </button>
                      </td> -->
                      <td>{{student.ops_number_eisodou ?? 'Δεν έχει ανέβει ακόμη'}}</td>
                      <td>
                        <a (click)="getXML(student.uuid, 'entry')" class="text-secondary" style="cursor: pointer;"><i
                            class="fa fa-file-export"></i>&nbsp;Εξαγωγή</a>
                      </td>
                      <td class="action text-center">
                        <!-- <table>
                          <tr>
                            <td><i class="fa fa-eye"></i></td>
                            <td>Προβολή / Εκτύπωση Δελτίου</td>

                          </tr>
                          <tr>
                            <td><i class="fa fa-eye"></i></td>
                            <td>Επεξεργασία Δελτίου</td>

                          </tr>
                        </table> -->
                        <a (click)="openDialog(idx)" class="text-secondary" style="cursor: pointer;"><i
                            class="fa fa-eye"></i> Προβολή / Εκτύπωση
                          Δελτίου<br></a>
                        <a (click)="openEditDialog(idx)" class="text-secondary" style="cursor: pointer;"><i
                            class="fa fa-cog"></i> Επεξεργασία Δελτίου<br></a>
                        <!-- <a href="#" class="delete text-danger"><i class="fa fa-trash-alt"></i> Ακύρωση</a> -->
                      </td>
                      <td class="action text-center">
                        <a (click)="submitOPSDialog(student.uuid, 'entry')" class="text-secondary"
                          style="cursor: pointer;"><i class="fa fa-upload"></i> Ανέβασμα στο
                          ΟΠΣ<br></a>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <!-- <th>Επιλογή</th> -->
                      <th>Ονοματεπώνυμο</th>
                      <!-- <th>Πατρώνυμο</th> -->
                      <th>ΑΜ</th>
                      <th>email</th>
                      <!-- <th>Έγγραφα</th> -->
                      <th>Αριθμός Δελτίου Online</th>
                      <th>XML</th>
                      <th class="text-center">Ενέργειες</th>
                      <th class="text-center">ΟΠΣ</th>
                    </tr>
                  </tfoot>
                </table>
              </div>

              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->
