<mat-dialog-content>
  <h2>Επιλογές Ανάθεσης</h2>
  <p class="mb-0"><span>Θέση</span>: {{this.position.title}}</p>
  <p><span>Όνομα Εταιρείας</span>: {{this.position.company}}</p>

  <div class="m-auto text-center">
    <button class="custom-btn btn btn-primary mb-2 w-100" (click)="onSubmitSwal('preassign')" mat-button>Προδέσμευση
      Θέσης</button>
    <br>
    <button class="custom-btn btn btn-primary mb-2 w-100" (click)="onSubmitSwal('assign')" mat-button>Τελική
      ανάθεση</button>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="onCancel()">Κλείσιμο</button>
</mat-dialog-actions>
