<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Αιτήσεις φοιτητών</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive">
            <button class="btn btn-primary" (click)="exportToExcel()"><i class='fas fa-file-export'
                style='font-size:24px'></i> Excel</button>
            &nbsp;
            <!-- <button class="btn btn-primary" (click)="printDataTable()"><i class='fas fa-print'
                style='font-size:24px'></i> Print</button> -->
            <br><br>
            <table id="appTable" #appTable class="table table-bordered table-striped">
              <!--datatable [dtOptions]="dtOptions">-->
              <thead>
                <tr>
                  <th>Θέσεις</th>
                  <th>Όνοματεπώνυμο</th>
                  <th>Τμήμα</th>
                  <th>email</th>
                  <th>Σκορ</th>
                  <th>Ημερομηνία Αίτησης</th>
                  <th>Ενέργειες</th>
                  <th> Επιλογή</th>
                </tr>
              </thead>
              <tbody *ngFor="let app of apps; let idx=index" [attr.data-index]="idx">
                <tr *ngFor="let position of app.positions; let idx2=index" [attr.data-index]="idx2">
                  <td>{{position.title}}</td>
                  <td>{{app.firstname}} {{app.lastname}}</td>
                  <td>{{app.department_id}}</td>
                  <td>{{app.mail}}</td>
                  <td>{{app.score}}</td>
                  <td>{{app.application_date}}</td>
                  <td>
                    <a class="text-secondary" style="cursor: pointer;" (click)="openDialog(app, position.title)"><i
                        class="fa fa-eye"></i>
                      Προβολή<br></a>
                  </td>
                  <td>
                    <select id="{{'sel' + idx + idx2}}" class="kl form-select text-danger"
                      (change)="changeSelectedColor('sel' + idx + idx2, position.position_id)"
                      aria-label="Default select example">
                      <option selected class="kl1 text-danger">ΟΧΙ</option>
                      <option class="kl2 text-success">ΝΑΙ</option>
                    </select>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>Θέσεις</th>
                  <th>Όνοματεπώνυμο</th>
                  <th>Τμήμα</th>
                  <th>email</th>
                  <th>Σκορ</th>
                  <th>Ημερομηνία Αίτησης</th>
                  <th>Ενέργειες</th>
                  <th> Επιλογή</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <div class="m-auto pb-5" style="margin:auto; text-align:center;">
    <button class="btn btn-primary w-25 m-auto p-2" (click)="submitApplications()"> ΟΡΙΣΤΙΚΟΠΟΙΗΣΗ ΕΠΙΛΟΓΩΝ</button>
  </div>

  <!-- /.container-fluid -->
</section>
<!-- /.content -->
