<!-- Small boxes (Stat box) -->
<div class="row">
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-btn-stat">
      <div class="inner">
        <h3>{{studentsSSOData[0].Praktiki == 0 ? 'ΟΧΙ' : 'NAI'}}<sup style="font-size: 20px"></sup></h3>
        <p>{{'STUDENT.HOME-STAT-BOX2'|translate}}</p>
      </div>
      <div class="icon">
        <i class="fas fa-chart-bar"></i>
      </div>
      <!-- <a href="#" class="small-box-footer">{{'STUDENT.SHOW-MORE'|translate}} <i
          class="fas fa-arrow-circle-right"></i></a> -->
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-btn-stat">
      <div class="inner">
        <h3>{{studentsSSOData[0].Semester}}ο</h3>
        <p>{{'STUDENT.HOME-STAT-BOX1'|translate}}</p>
      </div>
      <div class="icon">
        <i class="fas fa-calendar-alt"></i>
      </div>
      <!-- <a href="#" class="small-box-footer">{{'STUDENT.SHOW-MORE'|translate}} <i
          class="fas fa-arrow-circle-right"></i></a> -->
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-btn-stat">
      <div class="inner">
        <h3>{{studentsSSOData[0].Grade}}</h3>
        <p>{{'STUDENT.HOME-STAT-BOX3'|translate}}</p>
      </div>
      <div class="icon">
        <i class="fas fa-chart-pie"></i>
      </div>
      <!-- <a href="#" class="small-box-footer">{{'STUDENT.SHOW-MORE'|translate}} <i
          class="fas fa-arrow-circle-right"></i></a> -->
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-btn-stat">
      <div class="inner">
        <h3>{{studentsSSOData[0].Ects}}</h3>
        <p>{{'STUDENT.HOME-STAT-BOX4'|translate}}</p>
      </div>
      <div class="icon">
        <i class="fas fa-graduation-cap"></i>
      </div>
      <!-- <a href="#" class="small-box-footer">{{'STUDENT.SHOW-MORE'|translate}} <i
          class="fas fa-arrow-circle-right"></i></a> -->
    </div>
  </div>
  <!-- ./col -->
</div>
<!-- /.row -->

<!-- Main row -->
<div class="row">
  <!-- Left col -->
  <section class="col-lg-9 connectedSortable">
    <div *ngIf="this.period?.is_active" class="alert alert-success" role="alert">
      Διαθέσιμες θέσεις Πρακτικής Άσκησης | Εκτός ΕΣΠΑ: {{period?.available_positions}} - ΕΣΠΑ:
      {{period?.positions}}<br>
      {{'STUDENT.INTERSNHIP-DECLARATION-PERIOD'| translate}}
      {{phaseArray[period?.phase_state!] | translate}}: {{dateFrom}}
      {{'STUDENT.PERIOD-TO'| translate}}
      {{dateTo}}.
    </div>
    <div *ngIf="!this.period?.is_active" class="alert alert-danger" role="alert">
      {{'STUDENT.NO-INTERNSHIP-PERIOD'| translate}}
    </div>
    <!--Student phases-->
    <div *ngIf="this.studentsSSOData[0]?.phase == 0" class="card">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-folder-open mr-1"></i>
          {{'STUDENT.INTERNSHIP-APP-RESULT-INTRO'| translate}}
        </h3>
        <div class="card-tools">
          <button type="button" class="btn btn-sm btn-collapse-min" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="tab-content p-0">
          <div class="chart tab-pane active" id="revenue-chart">
            {{'STUDENT.INTERNSHIP-APP-RESULT-PHASE-0-PAR'| translate}}
            <br>
          </div>
        </div>
      </div>
      <p class="pl-4"> Σχόλια Υπεύθυνου: {{comment == null ? 'Δεν υπάρχουν σχόλια' : comment?.comment_text}}</p>
    </div>
    <div *ngIf="this.studentsSSOData[0]?.phase == -1" class="card">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-folder-open mr-1"></i>
          {{'STUDENT.INTERNSHIP-APP-RESULT-INTRO'| translate}}
        </h3>
        <div class="card-tools">
          <button type="button" class="btn btn-sm btn-collapse-min" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="tab-content p-0">
          <div class="chart tab-pane active" id="revenue-chart">
            <i style="color: #dc3545;" class=" fas fa-lg fa-times"></i>&nbsp;
            {{'STUDENT.INTERNSHIP-APP-RESULT-PHASE-MINUS1-PAR'| translate}} Α.Π.:
            {{ this.studentsSSOData[0].latest_app_protocol_number }}
          </div>
        </div>
      </div>
      <p class="pl-4"> Σχόλια Υπεύθυνου: {{comment == null ? 'Δεν υπάρχουν σχόλια' : comment?.comment_text}}</p>
    </div>
    <div *ngIf="this.studentsSSOData[0]?.phase == 1" class="card">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-folder-open mr-1"></i>
          {{'STUDENT.INTERNSHIP-APP-RESULT-INTRO'| translate}}
        </h3>
        <div class="card-tools">
          <button type="button" class="btn btn-sm btn-collapse-min" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="tab-content p-0">
          <div class="chart tab-pane active" id="revenue-chart">
            {{'STUDENT.INTERNSHIP-APP-RESULT-PHASE-1-PAR'| translate}} Α.Π.:
            {{ this.studentsSSOData[0].latest_app_protocol_number }} <i class=" fas fa-lg fa-check text-success"></i>
            <br>
          </div>
        </div>
      </div>
      <p class="pl-4"> Σχόλια Υπεύθυνου: {{comment == null ? 'Δεν υπάρχουν σχόλια' : comment?.comment_text}}</p>
    </div>
    <div *ngIf="this.studentsSSOData[0]?.phase == 2" class="card">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-folder-open mr-1"></i>
          {{'STUDENT.INTERNSHIP-APP-RESULT-INTRO'| translate}}
        </h3>
        <div class="card-tools">
          <button type="button" class="btn btn-sm btn-collapse-min" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="tab-content p-0">
          <div class="chart tab-pane active" id="revenue-chart">
            {{'STUDENT.INTERNSHIP-APP-RESULT-PHASE-2-PAR'| translate}} Α.Π.:
            {{ this.studentsSSOData[0].latest_app_protocol_number }} <i class=" fas fa-lg fa-check text-success"></i>
            <br>
          </div>
        </div>
      </div>
      <p class="pl-4"> Σχόλια Υπεύθυνου: {{comment == null ? 'Δεν υπάρχουν σχόλια' : comment?.comment_text}}</p>
    </div>
    <!-- Custom tabs (Charts with tabs)-->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-book mr-1"></i>
          {{'STUDENT.INTERNSHIP-INSTRUCTIONS'| translate}}
        </h3>
        <div class="card-tools">
          <!-- <ul class="nav nav-pills ml-auto">
              <li class="nav-item">
                <a class="nav-link active" href="#revenue-chart" data-toggle="tab">Area</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#sales-chart" data-toggle="tab">Donut</a>
              </li>
            </ul> -->
          <button type="button" class="btn btn-sm btn-collapse-min" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <!-- <div class="card-body">
         <div class="tab-content p-0">
           <div class="chart tab-pane active" id="revenue-chart">
             Τα κριτήρια για την έγκριση της πρακτικής άσκησης είναι τα εξής:
             <ul class="pt-2">
               <li>Τρέχον εξάμηνο Φοίτησης</li>
               <li>Ποσοστό Περασμένων μαθημάτων</li>
               <li>Μέσος όρος βαθμολογίας</li>
               <li>Έλεγχος έγκρισης πρακτικής</li>
             </ul>
             Βάσει των παραπάνω κριτηρίων, δικαιείσαι πρακτική άσκηση. <i class="fas fa-lg fa-check text-success"></i>
           </div>
         </div>
       </div> -->
      <div class="card-body">
        <div class="tab-content p-0">

          <div class="chart tab-pane active" id="revenue-chart">
            <div>
              {{'STUDENT.INTERNSHIP-INTRO1'|translate}} <span class="text-danger">
                {{'STUDENT.INTERNSHIP-INTRO2'|translate}}
              </span> {{'STUDENT.INTERNSHIP-INTRO3'|translate}}
              <br><br>
            </div>
            {{'STUDENT.INTERNSHIP-STEPS-INTRO'| translate}}
            <ul class="pt-2">
              <li *ngIf="!isDeclarationEnabled"> <a class="text-steps">
                  &nbsp;{{'STUDENT.INTERNSHIP-STEP1'| translate}}</a>
              </li>
              <li *ngIf="isDeclarationEnabled"> <a class="text-steps"
                  [href]="['student/enable_intern/' + this.authService.getSessionId()]">
                  &nbsp;{{'STUDENT.INTERNSHIP-STEP1'| translate}}</a>
              </li>

              <li> <a class="text-steps" [href]="['student/myinternship/' + this.authService.getSessionId()]">
                  &nbsp;{{'STUDENT.INTERNSHIP-STEP2'| translate}}</a>
              </li>
              <li> <a class="text-steps" [href]="['student/positions/' + this.authService.getSessionId()]">
                  &nbsp;{{'STUDENT.INTERNSHIP-STEP3'| translate}}</a>
              </li>
              <li> <a class="text-steps" [href]="['student/company-accept/' + this.authService.getSessionId()]">
                  &nbsp;{{'STUDENT.INTERNSHIP-STEP4'| translate}}</a>
              </li>
              <li>
                <!-- <a class="text-steps" href="student/student-contract"> -->
                <a class="text-steps">
                  &nbsp;{{'STUDENT.INTERNSHIP-STEP5'| translate}}</a>
              </li>
              <li *ngIf="!areOptionsEnabled"> <a class="text-steps">
                  &nbsp;{{'STUDENT.INTERNSHIP-STEP6'| translate}}</a>
              </li>
              <li *ngIf="areOptionsEnabled"> <a class="text-steps"
                  [href]="['student/sheets/input-sheet/' + this.authService.getSessionId()]">
                  &nbsp;{{'STUDENT.INTERNSHIP-STEP6'| translate}}</a>
              </li>
              <li *ngIf="!areOptionsEnabled"> <a class="text-steps">
                  &nbsp;{{'STUDENT.INTERNSHIP-STEP7'| translate}}</a>
              </li>
              <li *ngIf="areOptionsEnabled"> <a class="text-steps"
                  [href]="['student/sheets/output-sheet/' + this.authService.getSessionId()]">
                  &nbsp;{{'STUDENT.INTERNSHIP-STEP7'| translate}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="col-lg-3">
    <mat-card class="calendar">
      <i class="far fa-calendar-alt"></i>
      {{ "STUDENT.CALENDAR-HOME" | translate }}
      <mat-calendar [(selected)]="selected"></mat-calendar>
      <!-- <p>Selected date: {{ selected }}</p> -->
    </mat-card>
  </section>
</div>
