<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Επιλεγμένοι Φοιτητές</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive">
            <button class="btn btn-primary" (click)="exportToExcel()"><i class='fas fa-file-export'
                style='font-size:24px'></i> Excel</button>
            <br><br>
            <table id="selectedAppsTable" #selectedAppsTable class="table table-bordered table-striped">
              <!--datatable [dtOptions]="dtOptions">-->
              <thead>
                <tr>
                  <th>Θέσεις</th>
                  <th>Όνοματεπώνυμο</th>
                  <th>Τμήμα</th>
                  <th>email</th>
                  <th>Σκορ</th>
                  <th>Αποδοχή από Φοιτητή</th>
                  <th>Ενέργειες</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let position of apps; let idx2=index" [attr.data-index]="idx2">
                  <td>{{position.title}}</td>
                  <td>{{position.firstname}} {{position.lastname}}</td>
                  <td>{{position.department}}</td>
                  <td>{{position.mail}}</td>
                  <td>{{position.score}}</td>
                  <td>
                    <div *ngIf="position.approval_state == 0 || position.approval_state == null">
                      <i class="fa fa-cog" aria-hidden="true"></i> <span title="Ο φοιτητής δεν σας έχει επιλέξει ακόμη">
                        Αναμονή Αποδοχής</span>
                    </div>
                    <div *ngIf="position.approval_state == 1">
                      <i class="fa fa-check" aria-hidden="true"></i> <span title="Ο φοιτητής σας αποδέχτηκε"> Ο
                        φοιτητής σας αποδέχτηκε</span>
                    </div>
                    <div *ngIf="position.approval_state == -1">
                      <i class="fa fa-times" aria-hidden="true"></i> <span title="Ο φοιτητής δεν σας αποδέχτηκε"> Ο
                        φοιτητής δεν σας αποδέχτηκε</span>
                    </div>
                  </td>
                  <!-- <td>{{app.application_date}}</td> -->
                  <td>
                    <a class="text-secondary" style="cursor: pointer;" (click)="openDialog(position, position.title)"><i
                        class="fa fa-eye"></i>
                      Προβολή<br></a>
                    <a class="text-secondary" style="cursor: pointer;" (click)="openEvaluationDialog(position, position.title, position.student_id,
                      position.position_id, (position.firstname + ' ' + position.lastname))"><i class="fa fa-edit"></i>
                      Αξιολόγηση Φοιτητή<br></a>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>Θέσεις</th>
                  <th>Όνοματεπώνυμο</th>
                  <th>Τμήμα</th>
                  <th>email</th>
                  <th>Σκορ</th>
                  <th>Αποδοχή από Φοιτητή</th>
                  <th>Ενέργειες</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->

<!-- A discussion about Cancel operation must be conducted -->
<!-- <div class="m-auto pb-5" style="margin:auto; text-align:center;">
  <button class="btn btn-danger w-25 m-auto p-2" (click)="cancelSelection()"> ΑΚΥΡΩΣΗ ΕΠΙΛΟΓΩΝ </button>
</div> -->
