<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Επιλεγμένοι Φοιτητές</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive">
            <button class="btn btn-primary">Excel</button>
            <br><br>
            <table id="appTable" #appTable class="table table-bordered table-striped">
              <!--datatable [dtOptions]="dtOptions">-->
              <thead>
                <tr>
                  <th>Θέσεις</th>
                  <th>Όνοματεπώνυμο</th>
                  <th>Τμήμα</th>
                  <th>email</th>
                  <th>Σκορ</th>
                  <th>Ενέργειες</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Γραμματειακή Υποστήριξη</td>
                  <td>Αθανάσιος Μητρόπουλος</td>
                  <td>Διαχείρηση περιβαλλοντος</td>
                  <td>psct19003@uop.gr</td>
                  <td>8.3</td>
                  <td>
                    <a class="text-secondary" style="cursor: pointer;"><i class="fa fa-eye"></i>
                      Προβολή<br></a></td>
                </tr>
                <tr>
                  <td>Ανάπτυξη Εφαρμογών</td>
                  <td>Αθανάσιος Γαλάτης</td>
                  <td>Επιστήμη Υπολογιστών</td>
                  <td>psct19009@uop.gr</td>
                  <td>8.6</td>
                  <td>
                    <a class="text-secondary" style="cursor: pointer;"><i class="fa fa-eye"></i>
                      Προβολή<br></a></td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>Θέσεις</th>
                  <th>Όνοματεπώνυμο</th>
                  <th>Τμήμα</th>
                  <th>email</th>
                  <th>Σκορ</th>
                  <th>Ενέργειες</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->
<div class="m-auto pb-5" style="margin:auto; text-align:center;">
  <button class="btn btn-danger w-25 m-auto p-2" (click)="fireTheWhole()"> ΑΚΥΡΩΣΗ ΕΠΙΛΟΓΩΝ </button>
</div>
