<div class="container-fluid mt-5" style="max-width:90%;margin:auto;">
  <h2 class="position-h2">Οι αιτήσεις μου</h2>
  <!-- Table -->
  <table class="manage-table submissions responsive-table dark-div mt-3">
    <tr>
      <th>Αριθμός Πρωτοκόλλου</th>
      <th>Ημερομηνία Πρωτοκόλλου </th>
      <th>Κατάσταση</th>
      <!-- <th> Θέση</th> -->
      <!-- <th><i class="fa fa-calendar"></i> Ημερομηνία Δημοσίευσης</th> -->
      <th>Ενέργειες</th>
    </tr>
    <tr class="dark-div submissions-div">
      <td>34564953868</td>
      <td>16/01/2022</td>
      <td>Ενεργή</td>
      <!-- <td>PHP Developer at Intrasoft</td> -->
      <td class="action">
        <!-- <a href="#"><i class="fa fa-pencil-alt"></i> Επεξεργασία</a> -->
        <a href="#"><i class="fa  fa-eye-slash"></i> Προβολή</a>
        <!-- <a href="#" class="delete"><i class="fa fa-trash-alt"></i> Διαγραφή</a> -->
      </td>
    </tr>
  </table>
  <div>
    <h2 class="mt-4 mb-2 position-h2">Οι θέσεις μου</h2>
    <div class="alert alert-danger p-2 pl-3 mb-2" role="alert">
      Επιλέξτε τις θέσεις στις οποίες έχετε κάνει αίτηση κατά σειρά προτίμησης και έπειτα οριστικοποιήστε την αίτησή
      σας.
    </div>
    <table class="manage-table resumes responsive-table dark-div mt-3">
      <tr>
        <th><i class="fas fa-sort"></i> Προτεραιότητα</th>
        <th><i class="fa fa-building"></i> Εταιρεία</th>
        <th><i class="fa fa-file"></i> Τίτλος</th>
        <th><i class="fa fa-map-marker"></i> Τοποθεσία</th>
        <th><i class="fa fa-calendar"></i> Ημερομηνία Δημοσίευσης</th>
        <th><i class="fa fa-lightbulb"></i>Ενέργειες</th>
      </tr>
      <tr *ngFor="let position of studentPositions" class="dark-div">
        <td class="title">
          <a (click)="swapUp(position.priority)"> <i style="cursor:pointer;font-size:1.4em;"
              class="fas fa-angle-up pr-2"></i></a>
          <a (click)="swapDown(position.priority)">&nbsp;<i style="font-size:1.4em;cursor:pointer;"
              class="fas fa-angle-down pr-3"></i>&nbsp;<span style="font-size:1.1em;">{{position.priority}}</span></a>
        </td>
        <td class="title">{{position.company}}</td>
        <td>{{position.title}}</td>
        <td>{{position.place}}</td>
        <td>{{position.upload_date}}</td>
        <td class="action">
          <!-- <a href="#"><i class="fa fa-pencil-alt"></i> Επεξεργασία</a>
          <a href="#"><i class="fa  fa-eye-slash"></i> Απόκρυψη</a> -->
          <a (click)="deletePosition(position.priority)" class="delete"><i class="fa fa-trash-alt"></i> Διαγραφή</a>
        </td>
      </tr>
    </table>
    <br>
    <a href="#" class="button btn-primary">Προσωρινη Αποθηκευση Αιτησης</a>
    <a (click)="submitAlert()" class="ml-2 button btn-primary">Οριστικοποιηση
      Αιτησης</a>
  </div>
</div>
