<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <!-- <div class="card-header"> -->
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/office/sheet-input/' + this.authService.getSessionId()]"
                  data-toggle="tab">Δελτία Εισόδου</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/office/sheet-output/' + this.authService.getSessionId()]"
                  data-toggle="tab">Δελτία εξόδου</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active"
                  [routerLink]="['/office/student-contracts/' + this.authService.getSessionId()]"
                  data-toggle="tab">Συμβάσεις</a>
              </li>
            </ul>
          </div>
          <div class="pb-0 mb-0 pl-3 container-responsive row my-container">
            <h5 class="mt-0 pt-0 col-12 col-sm-2 my-auto">
              Επιλογή Τμήματος: </h5>
            <!-- <p *ngFor="let academic of officeUserAcademics">{{academic?.department}}</p> -->
            <div class="col-12 col-sm-10 pt-3">
              <div class="form-group col-md-4 mb-0 pb-0">
                <mat-form-field appearance="outline" style="min-width:310px;">
                  <mat-label>Τμήμα</mat-label>
                  <mat-select #departmentSelect formControlName="acadmic_type" [disableOptionCentering]="true">
                    <mat-option *ngFor="let academic of officeUserAcademics" [value]="academic"
                      (click)="onDepartmentChange(academic)">
                      {{academic.department}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="pb-0 mt-0 mb-0 pl-3 container-responsive row my-container">
            <h5 class="mt-0 pt-0 col-12 col-sm-2 my-auto">
              Επιλογή Περιόδου: </h5>
            <!-- <p *ngFor="let academic of officeUserAcademics">{{academic?.department}}</p> -->
            <div class="col-12 col-sm-10 pt-3">
              <div class="form-group col-md-4 mb-0 pb-0">
                <mat-form-field appearance="outline" style="min-width:310px;">
                  <mat-label>Περίοδος</mat-label>
                  <mat-select #periodFormSelect formControlName="period_form" [disableOptionCentering]="true">
                    <mat-option *ngIf="periods && this.periods.length == 0" [value]="null"
                      (click)="onPeriodChange(null)">
                      {{'καμία επιλογή'}}
                    </mat-option>
                    <div *ngIf="periods && periods.length > 0">
                      <mat-option *ngFor="let period of this.periods" [value]="period"
                        (click)="onPeriodChange(period?.id||null)">
                        {{(period?.semester == 1 ? 'Χειμερινό ' : 'Εαρινό ') }}
                        {{'- Λήξη: '}} {{period?.date_to | date:'dd/MM/yyyy'}}
                      </mat-option>
                    </div>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <!-- </div> -->
          <!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="sheet-input-tab">
                <button class="btn btn-primary mt-0" (click)="exportToExcel()"><i class='fas fa-file-export'
                    style='font-size:24px'></i> Excel</button>
                &nbsp;<br><br>

                <div style="display: flex; justify-content: space-between; align-items: center;">
                  <div class="pl-2 pb-0">
                    <strong>Πλήθος Συμβάσεων:</strong> {{studentsData.length}}
                  </div>
                  <mat-form-field style="float:right" class="mt-0 mb-0" appearance="outline">
                    <mat-label>Αναζήτηση</mat-label>
                    <input matInput #inputSearch (keyup)="searchStudents()">
                    <!-- <button *ngIf="inputSearch.value" matSuffix mat-icon-button aria-label="Clear"
                      (click)="inputSearch.value=''">
                      <i>close</i>
                    </button> -->
                  </mat-form-field>
                </div>
                <!-- <table id="example" class="table table-bordered table-striped" datatable [dtOptions]="dtOptions"> -->
                <table id="contractsTable" #contractsTable ngbTable class="table table-bordered table-striped">
                  <thead>
                    <tr ngbTableRow>
                      <th>A/A</th>
                      <th>Ονοματεπώνυμο</th>
                      <th>ΑΜ</th>
                      <th>email</th>
                      <th>Φορέας</th>
                      <th>Ενέργειες Άτλα</th>
                      <th class="text-center">Επεξεργασία Σύμβασης</th>
                      <th class="text-center">Κατέβασμα Σύμβασης</th>
                    </tr>
                  </thead>
                  <tbody ngbTableBody>
                    <tr *ngFor="let student of (filteredData.length ? filteredData : studentsData) ; let idx=index"
                      [attr.data-index]="idx">
                      <td>{{idx + 1}}</td>
                      <td><a class="custom-info-btn" (click)="openDialog(student.student_id)">{{student.givenname}}
                          {{student.sn}}</a>
                      <td>{{student.schacpersonaluniquecode}}</td>
                      <td>{{student.mail}}</td>
                      <td class="action text-center"><span (click)="openCompanyInfoDialog(student.position_id)" class="text-secondary custom-info-btn
                          text-with-dots">
                          <i class="fa fa-eye"></i> Στοιχεία Φορέα</span></td>
                      <!-- <td class="reponsive-text-center-td">
                        <button (click)="receiveFile(student.sso_uid, 'IBAN')"
                          class=" mt-0 mb-0 pt-0 pb-0 btn btn-primary mr-3 td-button-responsive"> <i
                            class="fa fa-download" aria-hidden="true"></i> IBAN
                        </button>
                        <button (click)="receiveFile(student.sso_uid, 'SSN')"
                          class="mt-0 mb-0 pt-0 pb-0 btn btn-primary mr-3 td-button-responsive">
                          <i class="fa fa-download" aria-hidden="true"></i> ΑΦΜ
                        </button>
                        <button *ngIf="student.amea_cat == true" (click)="receiveFile(student.sso_uid, 'AMEA')"
                          class="mt-0 mb-0 pt-0 pb-0 btn btn-primary td-button-responsive">
                          <i class="fa fa-download" aria-hidden="true"></i> AMEA
                        </button>
                      </td> -->
                      <td class="action text-center">
                        <span (click)="openImplementationDatesChangeDialog(idx, student.assigned_position_id)" class="text-secondary custom-info-btn
                          text-with-dots">
                          <i class="fa fa-pencil-alt"></i> Αλλαγή Ημ/νιών</span>
                        <!-- <span (click)="openImplementationDatesChangeDialog(idx, student.assigned_position_id)" class="ml-2 text-secondary custom-info-btn
                          text-with-dots">
                          <i class="fa fa-check"></i> Ολοκλήρωση</span> -->
                      </td>
                      <td class="action text-center">
                        <a (click)="openEditContractDialog(idx)" class="text-secondary" style="cursor: pointer;"><i
                            class="fa fa-cog"></i> Επεξεργασία<br></a>
                      <td class="action text-center">
                        <a (click)="downloadContractFileForStudent(student.uuid)" class="text-secondary"
                          style="cursor: pointer;"><i class="fa fa-download"></i> Κατέβασμα<br></a>

                        <!-- <a href="#" class="delete text-danger"><i class="fa fa-trash-alt"></i> Ακύρωση</a> -->
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>A/A</th>
                      <th>Ονοματεπώνυμο</th>
                      <th>ΑΜ</th>
                      <th>email</th>
                      <th>Φορέας</th>
                      <th>Ενέργειες Άτλα</th>
                      <th class="text-center">Επεξεργασία Σύμβασης</th>
                      <th class="text-center">Κατέβασμα Σύμβασης</th>
                    </tr>
                  </tfoot>
                </table>
              </div>

              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->
