.custom-info-btn {
  color: #333;
  cursor: pointer;
  width: 100%;
}

.custom-info-btn:hover {
  color: #224957;
  text-decoration: underline;
}

::ng-deep .dark-mode .mat-form-field-outline {
  color: #fff !important;
  border-color: #fff !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
}

::ng-deep .dark-mode .mat-select-value-text {
  color: white !important;
}

::ng-deep .dark-mode .mat-select-arrow {
  color: white;
}

::ng-deep .dark-mode .mat-select-arrow-wrapper {
  color: white;
}

::ng-deep .dark-mode .mat-form-field-type-mat-select .mat-form-field-label {
  color: white;
}

::ng-deep .dark-mode ._ngcontent-oux-c304 {
  color: #fff !important;
  border-color: #fff !important;
}

::ng-deep .dark-mode .mat-select-panel {
  background-color: rgba(27, 27, 27, 0.87) !important;
}

::ng-deep .dark-mode .mat-option {
  color: #fff !important;
}

::ng-deep .dark-mode .mat-option:hover {
  background-color: rgba(255, 255, 255, 0.4) !important;
}

::ng-deep .dark-mode .mat-option.mat-selected:not(:hover) {
  background-color: rgba(255, 255, 255, 0.5);
}

::ng-deep .dark-mode table tr a {
  color: white !important;
}

.red-bckg-cancelled {
  background-color: #f2604b !important;
}

.sort-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 10px;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  color: #7a80dd;
  cursor: pointer;
}

.sort-icons .fa-sort-down {
  margin-top: -7px;
}

.sort-icons .fa-sort-down.active {
  margin-top: -7px;
}

.sort-icons .fa-sort-up {
  margin-bottom: -7px !important;
}

.sort-header {
  display: flex;
  align-items: center;
}

.sort-icons .custom-sort-icon {
  color: #dcdcdc;
  /* color: lightgrey; */
}

.sort-icons .custom-sort-icon.active {
  color: #7a80dd !important;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.4s ease-out;
}
