<!-- <h2 class="text-dark mb-2">ΔΕΛΤΙΟ ΕΞΟΔΟΥ</h2>
<hr> -->

<!-- <h3 class="mb-0">Επιτυχώς ολοκληρωμένες θέσεις</h3>
<p class="mb-4">Έχετε ολοκληρώσει την πρακτική άσκηση ή/και τη φοίτησή σας στο τμήμα. Στη συνέχεια εμφανίζονται
  τυχόν επιτυχώς ή ανεπιτυχώς ολοκληρωμένες θέσεις πρακτικής άσκησης.</p>

<table class="manage-table resumes responsive-table dark-div">
  <tr>
    <th><i class="fa fa-file"></i> Τίτλος</th>
    <th><i class="fa fa-building"></i> Φορέας</th>
    <th><i class="fa fa-user"></i> Φοιτητής</th>
    <th><i class="fa fa-door-open"></i> Κατάσταση</th>
    <th><i class="fa fa-lightbulb"></i>Ενέργειες</th>
  </tr>
  <tr class="dark-div submissions-div">
    <td>Junior Java Developer</td>
    <td>Intrasoft International</td>
    <td class="title"><a href="#">Μαρία Αλεξίου</a></td>
    <td class="title"><a href="#">Ολοκληρωμένη</a></td>
    <td class="action"> -->
<!-- <a href="#"><i class="fa fa-pencil-alt"></i> Ερωτηματολόγιο πρακτικής</a> -->
<!-- <a href="#"><i class="fa fa-pencil-alt"></i> Αξιολόγηση πρακτικής</a> -->
<!-- <a class="text-danger text-bold" href="#"><i class="fa fa-book"></i> Δελτίο εξόδου</a> -->
<!-- </td>
  </tr>
</table> -->

<!-- <hr> -->
<h2 class="text-dark mb-2">ΔΕΛΤΙΟ ΕΞΟΔΟΥ</h2>
<!-- <hr> -->
<!-- <div class="card-header p-2">
  <ul class="nav nav-pills">
    <li class="nav-item"><a class="nav-link active" href="#settings" data-toggle="tab">Προβολή</a>
    </li>
    <li class="nav-item"><a class="nav-link" href="#deltioEisodou" data-toggle="tab">Επεξεργασία</a></li>
  </ul>
</div>
<br> -->
<!-- <p >Παρακαλώ συμπληρώστε τα πεδία. Τα πεδία αυτά αφορούν μόνο εσάς αποκλειστικά.</p> -->
<!-- <h4 class="text-danger">Καθεστώς Εργασίας</h4>
<h4 class="text-danger">Ιδιωτικός Τομέας</h4>
<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Είμαι εγγεγραμμένος/η στον ΟΑΕΔ με κάρτα ανεργίας σε ισχύ</label><br>
<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Δεν είμαι εγγεγραμμένος/νη στον ΟΑΕΔ, ούτε εργάζομαι αλλά αναζητώ εργασία και είμαι άμεσα
  διαθέσισμος/η να εργαστώ</label><br>
<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Είμαι εργαζόμενος/η αυτοαπασχολούμενος/η</label><br>
<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Τίποτα από τα παραπάνω(δεν εργάζομαι, δεν είμαι εγγεγραμμένος άνεργος/η, δεν αναζητώ εργασία
  )</label><br>
<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Απασχολούμαι με σύμβαση εργασίας πλήρους απασχόλησης και αορίστου χρόνου</label><br>
<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Απασχολούμαι με σύμβαση εργασίας πλήρους απασχόλησης και ορισμένου χρόνου (συμπεριλαμβάνεται
  η εποχική απασχόληση)</label><br>


<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Απασχολούμαι με σύμβαση εργασίας μερικής απασχόλησης και αορίστου χρόνου</label><br>

<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Απασχολούμαι με σύμβαση εργασίας μερικής απασχόλησης και ορισμένου
  χρόνου(συμπεριλαμβάνεται η εποχική απασχόληση)</label><br>

<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Απασχολούμαι με εκ περιτροπής απασχόληση</label><br>

<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Απασχολούμαι αμειβόμενος/η με εργόσημο</label><br>

<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Απασχολούμαι με σύμβαση ιδιωτικού δικαίου αορίστου χρόνου</label><br>

<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Απασχολούμαι με σύμβαση ιδιωτικού δικαίου ορισμένου χρόνου</label><br>

<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Απασχολούμαι ως μόνιμος/η Δημόσιος Υπάλληλος</label><br>

<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Μαθητής/τρια πρωτοβάθμιας η δευτεροβάθμιας εκπαίδευσης(Δημοτικό, Γυμνάιο, Λύκειο,
  Συμπεριλαμβάνονται και τα σχολεία
  Δεύτερης ευκαιρίας)</label><br>

<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Σπουδαστής/τρια σε Σχολή Επαγγελματικής Κατάρτισης ή σε ΙΕΚ ή σε Κολλέγιο ή σε Σχολές που
  εποπτεύονται από άλλα
  Υπουργεία</label><br>

<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Συμμετέχων/ουσα σε κάποιο πρόγραμμα συνεχιζόμενης επαγγελματικής κατάρτισης(π.χ.
  ΚΕΚ)</label><br>

<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Φοιτητής/τρια τριτοβάθμιας εκπαίδευσης πλήρους φοίτησης</label><br>

<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Συμμετέχων/ουσα σε άλλο πρόγραμμα πρακτικής άσκησης με αμοιβή</label><br>

<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Μεταπτυχιακός/ή Φοιτητής/τρια ή Διδάκτωρ</label><br>

<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Το πρόγραμμα εκπαίδευσης ή κατάρτισης στο οποίο συμμετέχετε, συγχρηματοδοτείται στο
  πλαίσιο προγράμματος ΕΣΠΑ</label><br>

<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1">&nbsp;Αποκτήθηκε εξειδίκευση ως αποτέλεσμα της συμμετοχής σας στην πρακτική άσκηση</label><br>

<br>
<button [routerLink]="['../sheets']" class="btn btn-secondary mr-2"> <i class="fas fa-angle-left"></i> Πισω</button>
<button class="btn btn-primary">Αποθήκευση <i class="fas fa-angle-right"></i></button>
<br> -->

<div class="alert alert-danger mt-3 mb-2" role="alert">
  Όλες οι ερωτήσεις διαθέτουν ως προεπιλογή το ΟΧΙ. Διαβάστε πολύ προσεκτικά τις ερωτήσεις-επεξηγήσεις και απαντήστε
  σε
  όλα τα ερωτήματα.
  <br>
  Το καθεστώς εργασίας αφορά συμβάσεις που έχετε εκτός της σύμβασης πρακτικής άσκησης ΕΣΠΑ.
</div>

<h3 class="text-danger pt-3">Α) Καθεστώς Εργασίας</h3>

<p class="text-danger pt-4 mt-2">
  Προσοχή! Μία απο τις ερωτήσεις Α1, Α2, Α3, Α4, Α5, A6 θα πρέπει να είναι ΝΑΙ
</p>

<h4 class="text-dark"> Α1) Ανεργία </h4>

<div *ngFor="let option of unemployedOption" class="container-fluid row">
  <div class="col-10">
    <label for="pr-sec-option1">
      <span style="font-weight: 500;">{{option.subCategory}})&nbsp;</span>{{option.text}}
    </label>
  </div>
  <div class="col-2 text-right">
    <mat-radio-group id="pr-sec-option1" aria-label="Select an option">
      <mat-radio-button value="1">ΝΑΙ &nbsp;</mat-radio-button>
      <mat-radio-button [checked]="true" value="0">ΟΧΙ</mat-radio-button>
    </mat-radio-group>
  </div>
</div>

<mat-divider class="mt-2 mb-2"></mat-divider>

<h4 class="text-dark">Α2) Ιδιωτικός Τομέας</h4>

<div *ngFor="let option of privateSecOptions" class="container-fluid row">
  <div class="col-10">
    <label for="pr-sec-option1">
      <span style="font-weight: 500;">{{option.subCategory}})&nbsp;</span>{{option.text}}
    </label>
  </div>
  <div class="col-2 text-right">
    <mat-radio-group id="pr-sec-option1" aria-label="Select an option">
      <mat-radio-button value="1">ΝΑΙ &nbsp;</mat-radio-button>
      <mat-radio-button [checked]="true" value="0">ΟΧΙ</mat-radio-button>
    </mat-radio-group>
  </div>
</div>

<mat-divider class="mt-2 mb-2"></mat-divider>

<h4 class="text-dark">Α3) Απασχολούμενος στο Δημόσιο Τομέα</h4>

<div *ngFor="let option of publicSecOptions" class="container-fluid row">
  <div class="col-10 ">
    <label for="pr-sec-option1">
      <span style="font-weight: 500;">{{option.subCategory}})&nbsp;</span>{{option.text}}
    </label>
  </div>
  <div class="col-2 text-right">
    <mat-radio-group id="pr-sec-option1" aria-label="Select an option">
      <mat-radio-button value="1">ΝΑΙ &nbsp;</mat-radio-button>
      <mat-radio-button [checked]="true" value="0">ΟΧΙ</mat-radio-button>
    </mat-radio-group>
  </div>
</div>



<mat-divider class="mt-2 mb-2"></mat-divider>

<h4 class="text-dark">Α4) Αυτοαπασχολούμενος</h4>

<div class="container-fluid row">
  <div class="col-10 ">
    <label for="pr-sec-option10"><span style="font-weight: 500;">A4.1)</span> Είμαι αυτοαπασχολούμενος</label><br>
    <p style="padding:0px 0px 0px 40px;">α) Όσοι έχουν δική τους επιχείρηση ανεξαρτήτως από το εάν έχουν ή δεν έχουν
      πωλήσεις, παρεχόμενες υπηρεσίες ή κέρδη(περιλαμβάνονται και οι ελεύθεροι επαγγελματίες που δεν ασκούν
      δραστηριότητα
      <br>β) άτομα που βρίσκονται σε φάση έναρξης επαγγέλματος (π.χ έχουν παραγγείλει ή αγοράσει εξοπλισμό) και
      <br>γ) όσοι εργάζονται σε οικογενειακή επιχείρηση και αμείβονται ή όσοι εργάζονται σε οικογενειακή επιχείρηση και
      δεν
      αμείβονται αλλά ζουν μαζί στο ίδιο νοικοκυριό, δηλ συμβοηθούντα μέλη οικογενειακών επιχειρήσεων)<br></p>
  </div>
  <div class="col-2 text-right">
    <mat-radio-group id="pr-sec-option1" aria-label="Select an option">
      <mat-radio-button value="1">ΝΑΙ &nbsp;</mat-radio-button>
      <mat-radio-button [checked]="true" value="0">ΟΧΙ</mat-radio-button>
    </mat-radio-group>
  </div>
</div>

<mat-divider class="mt-2 mb-2"></mat-divider>

<h4 class="text-dark">Α5) Άλλη σχέση εργασίας</h4>

<div class="container-fluid row">
  <div class="col-10">
    <label for="pr-sec-option10"><span style="font-weight: 500;">A5.1)&nbsp;</span>Σχέση εργασίας (άλλη) που δεν
      εμπίπτει σε καμία απο τις παραπάνω
      κατηγορίες</label><br>
  </div>
  <div class="col-2 text-right">
    <mat-radio-group id="pr-sec-option1" aria-label="Select an option">
      <mat-radio-button value="1">ΝΑΙ &nbsp;</mat-radio-button>
      <mat-radio-button [checked]="true" value="0">ΟΧΙ</mat-radio-button>
    </mat-radio-group>
  </div>
</div>


<mat-divider class="mt-2 mb-2"></mat-divider>

<h4 class="text-dark">Α6) Μη υπαγωγή στις παραπάνω κατηγορίες</h4>

<div *ngFor="let option of noCategoryOptions" class="container-fluid row">
  <div class="col-10 ">
    <label for="pr-sec-option1">
      <span style="font-weight: 500;">{{option.subCategory}})&nbsp;</span>{{option.text}}
    </label>
  </div>
  <div class="col-2 text-right">
    <mat-radio-group id="pr-sec-option1" aria-label="Select an option">
      <mat-radio-button value="1">ΝΑΙ &nbsp;</mat-radio-button>
      <mat-radio-button [checked]="true" value="0">ΟΧΙ</mat-radio-button>
    </mat-radio-group>
  </div>
</div>

<mat-divider class="mt-2 mb-2"></mat-divider>

<h3 class="text-danger pt-3">Β) Καθεστώς Εκπαίδευσης</h3>

<div *ngFor="let option of educationStatusOptions" class="container-fluid row">
  <div class="col-10 ">
    <label for="pr-sec-option1">
      <span style="font-weight: 500;">{{option.subCategory}})&nbsp;</span>{{option.text}}
    </label>
  </div>
  <div class="col-2 text-right">
    <mat-radio-group id="pr-sec-option1" aria-label="Select an option">
      <mat-radio-button value="1">ΝΑΙ &nbsp;</mat-radio-button>
      <mat-radio-button [checked]="true" value="0">ΟΧΙ</mat-radio-button>
    </mat-radio-group>
  </div>
</div>

<mat-divider class="mt-2 mb-2"></mat-divider>

<h3 class="text-danger pt-3">Γ) Αποτελέσματα της δράσης</h3>

<div class="container-fluid row">
  <div class="col-10">
    <label for="pr-sec-option10"><span style="font-weight: 500;">Γ1.1)&nbsp;</span>Αποκτήθηκε εξειδίκευση μετά την
      συμμετοχή σας στο πρόγραμμα;
      (πιστοποιητικό, δίπλωμα, πτυχίο κοκ)</label><br>
  </div>
  <div class="col-2 text-right">
    <mat-radio-group id="pr-sec-option1" aria-label="Select an option">
      <mat-radio-button value="1">ΝΑΙ &nbsp;</mat-radio-button>
      <mat-radio-button [checked]="true" value="0">ΟΧΙ</mat-radio-button>
    </mat-radio-group>
  </div>
</div>
