<div class='list-group'>
  <li class='pl-3 list-group-item list-header'>Εγχειρίδια Φοιτητή</li>
  <!-- <a href='https://docs.openeclass.org/3.9/el:detail_description' target='_blank' class='mainpage list-group-item'><span
      class='fas fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Αναλυτική Περιγραφή
    praktiki.uop.gr</a>
    <a href='https://docs.openeclass.org/3.9/el:short_description' target='_blank'
    class='mainpage list-group-item'><span class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Σύντομη Περιγραφή
    praktiki.uop.gr</a> -->
  <a target='_blank' href="./assets/documents/Student_Manual.pdf" class='mainpage list-group-item'><span
      class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Οδηγός Χρήσης για Φοιτητή</a>
  <!-- <a href='https://docs.openeclass.org/3.9/el:student' target='_blank'
    class='mainpage list-group-item'><span class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Εγχειρίδιο
    Εκπαιδευόμενου</a> -->
</div>
<div class='list-group'>
  <li class='pl-3 list-group-item list-header'>Εγχειρίδια Τμηματικού Υπεύθυνου</li>
  <a target='_blank' href="./assets/documents/Department_Manager.pdf" class='mainpage list-group-item'><span
      class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Οδηγός Χρήσης για Τμηματικό Υπεύθυνο</a>
</div>

<div class='list-group'>
  <li class='pl-3 list-group-item list-header'>Εγχειρίδια Γραφείου Πρακτικής Άσκησης</li>
  <a target='_blank' href="./assets/documents/Office.pdf" class='mainpage list-group-item'><span
      class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Οδηγός Χρήσης για Γραφείο Πρακτικής Άσκησης</a>
</div>

<div class='list-group'>
  <li class='pl-3 list-group-item list-header'>Πρότυπα Έντυπα</li>
  <a target='_blank' href="./assets/documents/affidavit.doc" class='mainpage list-group-item'><span
      class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Υπεύθυνη Δήλωση Φοιτητή</a>
  <a target='_blank' href="./assets/documents/ΥΠΕΥΘΥΝΗ ΔΗΛΩΣΗ ΠΑΡΑΙΤΗΣΗΣ ΦΟΙΤΗΤΗ ΑΠΟ ΠΑ.doc"
    class='mainpage list-group-item'><span class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Υπεύθυνη Δήλωση Παραίτησης
    Φοιτητή από Πρακτική άσκηση</a>
  <a target='_blank' href="./assets/documents/Βεβαίωση πραγματοποίησης πρακτικής άσκησης φοιτητών 2022.doc"
    class='mainpage list-group-item'><span class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Βεβαίωση πραγματοποίησης
    πρακτικής άσκησης φοιτητών 2022</a>
  <a target='_blank' href="./assets/documents/Πρότυπο παρουσιολόγιο.doc" class='mainpage list-group-item'><span
      class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Πρότυπο παρουσιολόγιο</a>
  <a target='_blank' href="./assets/documents/Ερωτηματολόγιο για συνεργαζόμενο φορέα.doc"
    class='mainpage list-group-item'><span class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Ερωτηματολόγιο για
    συνεργαζόμενο φορέα</a>
  <a target='_blank' href="./assets/documents/Φύλλο αξιολόγησης Φοιτητή.docx" class='mainpage list-group-item'><span
      class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Φύλλο αξιολόγησης Φοιτητή</a>
  <a target='_blank' href="./assets/documents/Φύλλο αξιολόγησης Φορέα.docx" class='mainpage list-group-item'><span
      class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Φύλλο αξιολόγησης Φορέα</a>
  <a target='_blank' href="./assets/documents/2023.ΥΠΕΥΘΥΝΗ-ΔΗΛΩΣΗ-ΠΑΡΑΙΤΗΣΗΣ-ΦΟΙΤΗΤΗ.docx"
    class='mainpage list-group-item'><span class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;ΥΔ Παραίτησης</a>
</div>

<div class='list-group'>
  <li class='pl-3 list-group-item list-header'>Λοιπά έγγραφα</li>
  <a target='_blank' href="./assets/documents/ΓΕΝΙΚΟΣ.ΚΑΝΟΝΙΣΜΟΣ .ΠΑ.6ΣΗΠ469Β7Δ-ΕΟ7.pdf"
    class='mainpage list-group-item'><span class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Γενικός
    Κανονισμός Πρακτικής Άσκησης</a>
  <a target='_blank' href="./assets/documents/ΟΔΗΓΙΕΣ ΓΙΑ ΕΚΔΟΣΗ ΑΜΑ ΙΚΑ - 2020_0.pdf"
    class='mainpage list-group-item'><span class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Οδηγίες έκδοσης ΑΜΑ</a>
</div>
<!-- <div class='mt-3 list-group'>
  <li class='pl-3 list-group-item list-header'>Χρήσιμοι Οδηγοί εκπαιδευτή</li>
  <a href='https://docs.openeclass.org/3.9/el:wizards' target='_blank' class='mainpage list-group-item'><span
      class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Δημιουργία Λογαριασμού</a><a
    href='https://docs.openeclass.org/3.9/el:wizards' target='_blank' class='mainpage list-group-item'><span
      class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Δημιουργία μαθήματος</a><a
    href='https://docs.openeclass.org/3.9/el:wizards' target='_blank' class='mainpage list-group-item'><span
      class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Χαρτοφυλάκιο χρήστη</a><a
    href='https://docs.openeclass.org/3.9/el:wizards' target='_blank' class='mainpage list-group-item'><span
      class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Διαχείριση Ηλεκτρονικού Μαθήματος</a><a
    href='https://docs.openeclass.org/3.9/el:wizards' target='_blank' class='mainpage list-group-item'><span
      class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Διαχείριση Περιοχών Συζητήσεων</a><a
    href='https://docs.openeclass.org/3.9/el:wizards' target='_blank' class='mainpage list-group-item'><span
      class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Διαχείριση Ομάδων Εκπαιδευόμενων</a>
</div>
<div class='mt-3 list-group'>
  <li class='pl-3 list-group-item list-header'>Χρήσιμοι Οδηγοί εκπαιδευόμενου</li>
  <a href='https://docs.openeclass.org/3.9/el:register_course' target='_blank' class='mainpage list-group-item'><span
      class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Εγγραφή σε μάθημα</a><a
    href='https://docs.openeclass.org/3.9/el:personal_portfolio' target='_blank' class='mainpage list-group-item'><span
      class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Χαρτοφυλάκιο
    χρήστη</a><a href='https://docs.openeclass.org/3.9/el:ecourse' target='_blank'
    class='mainpage list-group-item'><span class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Γνωριμία με το
    Ηλεκτρονικό Μάθημα</a><a href='https://docs.openeclass.org/3.9/el:forum' target='_blank'
    class='mainpage list-group-item'><span class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Συμμετοχή σε Περιοχές
    Συζητήσεων</a>
</div> -->