<div class='list-group'>
  <li class='pl-3 list-group-item list-header'>Εγχειρίδια Φοιτητή</li>
  <a target='_blank' href="./assets/documents/Student_Manual.pdf" class='mainpage list-group-item'><span
      class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Οδηγός Χρήσης για Φοιτητή</a>
</div>
<div class='list-group'>
  <li class='pl-3 list-group-item list-header'>Εγχειρίδια Τμηματικού Υπεύθυνου</li>
  <a target='_blank' href="./assets/documents/Department_Manager.pdf" class='mainpage list-group-item'><span
      class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Οδηγός Χρήσης για Τμηματικό Υπεύθυνο</a>
  <a target='_blank' href="./assets/documents/Ετήσια Εκθεση Πεπραγμένων ΤΥ.docx" class='mainpage list-group-item'><span
      class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Ετήσια Έκθεση Αξιολόγησης
    Εφαρμογής Πρακτικής Άσκησης Επιστημονικού Υπευθύνου
    <span class='small-description'><br>Παρακαλώ ελέγξτε όλο το έγγραφο και αλλάξτε τις «κιτρινισμένες - κόκκινες»
      περιοχές σύμφωνα με τα δεδομένα του τμήματός σας.</span></a>
</div>

<div class='list-group'>
  <li class='pl-3 list-group-item list-header'>Εγχειρίδια Γραφείου Πρακτικής Άσκησης</li>
  <a target='_blank' href="./assets/documents/Office.pdf" class='mainpage list-group-item'><span
      class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Οδηγός Χρήσης για Γραφείο Πρακτικής Άσκησης</a>
</div>

<div class='list-group'>
  <li class='pl-3 list-group-item list-header'>Πρότυπα Έντυπα</li>
  <a target='_blank' href="./assets/documents/affidavit.doc" class='mainpage list-group-item'><span
      class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Υπεύθυνη Δήλωση Φοιτητή</a>
  <a target='_blank' href="./assets/documents/Βεβαίωση Φορέα  περι ολοκλήρωσης  πρακτικής άσκησης φοιτητών 2021-27.doc"
    class='mainpage list-group-item'><span class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Βεβαίωση Φορέα περι ολοκλήρωσης πρακτικής άσκησης φοιτητών 2021-27</a>
    <a target='_blank' href="./assets/documents/Βεβαίωση Τμηματικού Υπεύθυνου   περι ολοκληρωσης  πρακτικής άσκησης φοιτητών 2021-27.doc"
    class='mainpage list-group-item'><span class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Βεβαίωση Τμηματικού Υπεύθυνου περι ολοκληρωσης πρακτικής άσκησης φοιτητών 2021-27</a>
  <a target='_blank' href="./assets/documents/Πρότυπο παρουσιολόγιο.doc" class='mainpage list-group-item'><span
      class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Πρότυπο παρουσιολόγιο</a>
  <!-- <a target='_blank' href="./assets/documents/Ερωτηματολόγιο για συνεργαζόμενο φορέα.doc"
    class='mainpage list-group-item'><span class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Ερωτηματολόγιο για
    συνεργαζόμενο φορέα</a>
  <a target='_blank' href="./assets/documents/Φύλλο αξιολόγησης Φοιτητή.docx" class='mainpage list-group-item'><span
      class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Φύλλο αξιολόγησης Φοιτητή</a> -->
  <a target='_blank' href="./assets/documents/Φύλλο αξιολόγησης Φορέα.docx" class='mainpage list-group-item'><span
      class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Φύλλο αξιολόγησης από Φορέα</a>
  <a target='_blank' href="./assets/documents/2023.ΥΠΕΥΘΥΝΗ-ΔΗΛΩΣΗ-ΠΑΡΑΙΤΗΣΗΣ-ΦΟΙΤΗΤΗ.doc"
    class='mainpage list-group-item'><span class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;ΥΔ Παραίτησης</a>
</div>

<div class='list-group'>
  <li class='pl-3 list-group-item list-header'>Λοιπά έγγραφα</li>
  <!-- <a target='_blank' href="./assets/documents/ΓΕΝΙΚΟΣ.ΚΑΝΟΝΙΣΜΟΣ .ΠΑ.6ΣΗΠ469Β7Δ-ΕΟ7.pdf"
    class='mainpage list-group-item'><span class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Γενικός
    Κανονισμός Πρακτικής Άσκησης</a> -->
  <a target='_blank' href="./assets/documents/ΑΠΟΦΑΣΗ 5_14022025_ΕΓΚΡΙΣΗ ΚΑΝΟΝΙΣΜΟΥ ΠΡΑΚΤΙΚΗΣ ΑΣΚΗΣΗΣ.pdf"
    class='mainpage list-group-item'><span class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Γενικός
    Κανονισμός Πρακτικής Άσκησης</a>
  <a target='_blank' href="./assets/documents/ΟΔΗΓΙΕΣ ΓΙΑ ΕΚΔΟΣΗ ΑΜΑ ΙΚΑ - 2020_0.pdf"
    class='mainpage list-group-item'><span class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Οδηγίες έκδοσης ΑΜΑ</a>
</div>
