<div class="v3_60">
  <app-home-header></app-home-header>
</div>
<div id="content" class="content" role="main" id="a1">
  <div id="main-terms-div">
    <div class="mt-0" style="max-width:600px;margin:auto;">
      <h4 style="color: #224957">
      </h4>
      <div style="text-align: right;">
        <a target='_blank' href="./assets/documents/Foreas.pdf">
          Οδηγός Χρήσης Φορέα</a>
      </div>
      <div id="content-region" class="content-region region nested">
        <a name="main-content-area" id="main-content-area"></a>
        <h5 class="title gutter">{{'HOME.COMPANIES' | translate}}</h5>
        <div class="pane-content content" style="font-size:18px;">
          <p class="text-danger">{{'HOME.STEPS-FOR-INTERNSHIP' | translate}}</p>
          <ol>
            <li>{{'HOME.CREATE-ACCOUNT-STEP' | translate}}<a href="http://atlas.grnet.gr"> atlas.grnet.gr</a></li>
            <li>{{'HOME.SYSTEM-ACCESS' | translate}}</li>
            <li>{{'HOME.POSITIONS-ATLAS-STEP' | translate}}</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="modal-footer mt-4">
      <button type="button" [routerLink]="['/']" class="text-white btn btn-secondary"
        data-bs-dismiss="modal">{{'HOME.BACK-BTN' | translate}}</button>
      <button type="button" class="text-white btn btn-primary" [routerLink]="['/credentials-generic']">
        <span class="text-white">{{'HOME.CONTINUE-BTN' | translate}}</span>
      </button>
    </div>
  </div>
</div>