<div class="pb-0 pt-3 mb-4 pl-3 " style="border:1px solid black; border-radius:6px;">
  <p>Τμήμα: {{officeUserData?.department}}</p>
</div>
<div *ngIf="periodData.semester == null" ngNativeValidate id="dep-manager-no-period" class="alert alert-danger"
  role="alert">
  Δεν
  υπάρχουν καταχωρημένες περιόδοι. Δημιουργήστε μία νέα περίοδο από το παρακάτω μενού
</div>
<h4 *ngIf="periodData.semester != null"> Τρέχουσα Περίοδος </h4>
<table *ngIf="periodData.semester != null" ngNativeValidate id="dep-manager-table" class="table table-bordered"
  style="background-color:white">
  <thead>
    <tr>
      <th scope="col">Εξάμηνο</th>
      <th scope="col">Φάση Περιόδου</th>
      <th scope="col">Έναρξη Φάσης {{periodData?.phase_state}}</th>
      <th scope="col">Λήξη Φάσης {{periodData?.phase_state}}</th>
      <th scope="col">Αριθμός θέσεων ΕΣΠΑ</th>
      <th scope="col">Αριθμός θέσεων ΕΚΤΟΣ ΕΣΠΑ</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{periodData?.semester == 1 ? "Εαρινό Εξάμηνο" : "Χειμερινό Εξάμηνο"}} {{periodData?.pyear}}
      </th>
      <td>{{phaseArray[(periodData?.phase_state)!]}}</td>
      <td>{{dateFrom}}</td>
      <td>{{dateTo}}</td>
      <td>{{periodData?.available_positions}} </td>
      <td>22</td>
    </tr>
  </tbody>
</table><br>
<h4>Προσθέστε θέσεις ΕΣΠΑ</h4>
<div class="form-group row w-25 positions-add-div">
  <label for="inputPassword" class="col-sm-6 col-form-label">Αριθμός θέσεων ΕΣΠΑ</label>
  <div class="col-sm-6">
    <input type="number" name="available_positions" ngModel id="available_positions" class="form-control"
      placeholder="Αριθμός θέσεων" required>
  </div>
</div>
