.positions-add-div {
  background-color: white;
  padding: 8px;
  margin-left: 1px;
  border-radius: 2px;
  border: 1px solid lightgrey;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
