<mat-dialog-content class="mat-typography">
  <form ngNativeValidate #studentEntryForm="ngForm" class="form-horizontal">
    <div class="alert alert-danger mt-3 mb-2" role="alert">
      Το δελτίο δεν μπορεί να τροποποιηθεί.
    </div>
    <div id="entrySheetPreviewContent">
      <div id="headerShownInPrintOnly">
        <img id="espaSheetLogo" class="w-75 mb-4" src="/assets/images/sheet_espa_logo.jpg">
        <br>
        <img id="pelopasLogo" class="" src="/assets/images/v110_3.png">
        <h3 style='text-align: center;'><br>ΔΕΛΤΙΟ ΕΙΣΟΔΟΥ ΓΙΑ ΠΡΑΚΤΙΚΗ ΑΣΚΗΣΗ<br></h3>
        <h3 style='text-align: center;'>ΠΛΗΡΟΦΟΡΙΑΚΑ ΣΤΟΙΧΕΙΑ ΩΦΕΛΟΥΜΕΝΩΝ ΤΟΥ ΠΡΟΓΡΑΜΜΑΤΟΣ</h3>
        <table class="mt-4 mb-3" id="headerPrintTable">
          <tr>
            <td><strong>Όνομα:</strong> {{studentFirstName}} </td>
          </tr>
          <tr>
            <td><strong>Επώνυμο:</strong> {{studentLastName}} </td>
          </tr>
          <tr>
            <td><strong>Email:</strong> {{studentEmail}} </td>
          </tr>
          <tr>
            <td><strong>Τηλέφωνο:</strong> {{studentPhone}} </td>
          </tr>
        </table>
      </div>
      <h3 class="text-danger pt-3">Α) Καθεστώς Εργασίας</h3>
      <h4 class="text-dark"> Α0) Αναζήτηση Εργασίας </h4>
      <div *ngFor="let option of workBeforeInternship" class="container-fluid row">
        <div class="col-10">
          <label for="{{option.id}}">
            <span style="font-weight: 500;">{{option.subCategory}})&nbsp;</span>{{option.text}}
          </label>
        </div>
        <div class="col-2 text-right">
          <p name="{{option.id}}" ngModel id="{{option.id}}">
            {{getArrayValueByOptionId(option.id) === false ? 'OXI' : 'NAI'}}
          </p>
        </div>
      </div>
      <h4 class="text-dark"> Α1) Ανεργία </h4>
      <div class="container-fluid row" *ngFor="let option of unemployedOption">
        <div class="col-10">
          <label for="{{option.id}}">
            <span style="font-weight: 500;">{{option.subCategory}})&nbsp;</span>{{option.text}}
          </label>
        </div>
        <div class="col-2 text-right">
          <p name="{{option.id}}" ngModel id="{{option.id}}">
            {{getArrayValueByOptionId(option.id) === false ? 'OXI' : 'NAI'}}
          </p>
        </div>
      </div>

      <mat-divider class="mt-2 mb-2"></mat-divider>
      <h4 class="text-dark">Α2) Ιδιωτικός Τομέας</h4>
      <div class="container-fluid row" *ngFor="let option of privateSecOptions; let i = index">
        <div class="col-10">
          <label for="{{option.id}}">
            <span style="font-weight: 500;">{{option.subCategory}})&nbsp;</span>{{option.text}}
          </label>
        </div>
        <div class="col-2 text-right">
          <p name="{{option.id}}" ngModel id="{{option.id}}">
            {{ getArrayValueByOptionId(option.id) == false ? 'OXI' : 'NAI'}}
          </p>
        </div>
      </div>

      <mat-divider class="mt-2 mb-2"></mat-divider>
      <h4 class="text-dark">Α2.2) Απασχολούμενος στο Δημόσιο Τομέα</h4>
      <div class="container-fluid row" *ngFor="let option of publicSecOptions; let i = index">
        <div class="col-10">
          <label for="{{option.id}}">
            <span style="font-weight: 500;">{{option.subCategory}})&nbsp;</span>{{option.text}}
          </label>
        </div>
        <div class="col-2 text-right">
          <p name="{{option.id}}" ngModel id="{{option.id}}">
            {{ getArrayValueByOptionId(option.id) == false ? 'OXI' : 'NAI'}}
          </p>
        </div>
      </div>

      <mat-divider class="mt-2 mb-2"></mat-divider>
      <h4 class="text-dark">A2.3) Αυτοαπασχολούμενος</h4>
      <div class="container-fluid row">
        <div class="col-10 ">
          <label for="A2_3">
            <span style="font-weight: 500;">A2.3)</span> Είμαι αυτοαπασχολούμενος
          </label><br>
          <p style="padding:0px 0px 0px 40px;">α) Όσοι έχουν δική τους επιχείρηση ανεξαρτήτως από το εάν έχουν ή δεν
            έχουν
            πωλήσεις, παρεχόμενες υπηρεσίες ή κέρδη(περιλαμβάνονται και οι ελεύθεροι επαγγελματίες που δεν ασκούν
            δραστηριότητα
            <br>β) άτομα που βρίσκονται σε φάση έναρξης επαγγέλματος (π.χ έχουν παραγγείλει ή αγοράσει εξοπλισμό) και
            <br>γ) όσοι εργάζονται σε οικογενειακή επιχείρηση και αμείβονται ή όσοι εργάζονται σε οικογενειακή
            επιχείρηση
            και δεν αμείβονται αλλά ζουν μαζί στο ίδιο νοικοκυριό, δηλ συμβοηθούντα μέλη οικογενειακών επιχειρήσεων)<br>
          </p>
        </div>
        <div class="col-2 text-right">
          <p name="A2_3" ngModel id="A2_3">
            {{ entryForms[0].A2_3 == "0" ? 'OXI' : 'NAI'}}
          </p>
        </div>
      </div>

      <mat-divider class="mt-2 mb-2"></mat-divider>
      <h4 class="text-dark">Α2.4) Άλλη σχέση εργασίας</h4>
      <div class="container-fluid row" *ngFor="let option of jobRelationOtherThanAbove; let i = index">
        <div class="col-10">
          <label for="{{option.id}}">
            <span style="font-weight: 500;">{{option.subCategory}})&nbsp;</span>{{option.text}}
          </label>
        </div>
        <div class="col-2 text-right">
          <p name="{{option.id}}" ngModel id="{{option.id}}">
            {{ getArrayValueByOptionId(option.id) == false ? 'OXI' : 'NAI'}}
          </p>
        </div>
      </div>

      <mat-divider class="mt-2 mb-2"></mat-divider>
      <h4 class="text-dark">Α3) Μη υπαγωγή στις παραπάνω κατηγορίες</h4>
      <div class="container-fluid row" *ngFor="let option of specialJobOptions; let i = index">
        <div class="col-10">
          <label for="{{option.id}}">
            <span style="font-weight: 500;">{{option.subCategory}})&nbsp;</span>{{option.text}}
          </label>
        </div>
        <div class="col-2 text-right">
          <p name="{{option.id}}" ngModel id="{{option.id}}">
            {{ getArrayValueByOptionId(option.id) == false ? 'OXI' : 'NAI'}}
          </p>
        </div>
      </div>

      <mat-divider class="mt-2 mb-2"></mat-divider>
      <h3 class="text-danger pt-3">Β) Καθεστώς Εκπαίδευσης</h3>
      <div class="container-fluid row" *ngFor="let option of educationOptions; let i = index">
        <div class="col-10">
          <label for="{{option.id}}">
            <span style="font-weight: 500;">{{option.subCategory}})&nbsp;</span>{{option.text}}
          </label>
          <p *ngIf="option.id=='B'" style=" padding:0px 0px 0px 40px;">Επεξήγηση 1: Η ερώτηση αφορά τη συμμετοχή σας σε
            κάποιο άλλο
            πρόγραμμα
            εκπαίδευσης
            ή κατάρτισης ή δια βίου μάθησης τη χρονική στιγμή πριν την είσοδο σας σε αυτήν την πράξη του ΕΚΤ).
            <br>Επεξήγηση 2: Η συμμετοχή σε πρόγραμμα κατάρτισης ή εκπαίδευσης ή δια βίου μάθησης εννοεί μαθητές
            όλων
            των
            εκπαιδευτικών βαθμίδων, συμπεριλαμβανόμενων των συμμετεχόντων σε Σχολεία Δεύτερης ευκαιρίας, Γενικά
            και
            Επαγγελματικά
            Λύκεια,
            σπουδαστές σε Σχολές Επαγγελματικής Κατάρτισης που παρέχουν αρχική επαγγελματική κατάρτιση σε
            αποφοίτους της
            υποχρεωτικής τυπικής εκπαίδευσης, σπουδαστές και πρακτικά ασκούμενους σε Ινστιτούτα Επαγγελματικής
            κατάρτισης,
            συμμετέχοντες σε
            προγράμματα Κέντρων Δια Βίου Μάθησης που παρέχουν συνεχιζόμενη επαγγελματική κατάρτιση, γενική
            εκπαίδευση
            ενηλίκων,
            επαγγελματικό προσανατολισμό και δια βίου συμβουλευτική, σπουδαστές Κολλεγίων, σπουδαστές και πρακτικά
            ασκούμενους
            Σχολών
            που εποπτεύονται από τα Υπουργεία Πολιτισμού, Ναυτιλίας, Τουρισμού κλπ, φοιτητές τριτοβάθμιας
            εκπαίδευσης
            πλήρους
            φοίτησης<br>
          </p>
        </div>
        <div class="col-2 text-right">
          <p name="{{option.id}}" ngModel id="{{option.id}}">
            {{ getArrayValueByOptionId(option.id) == false ? 'OXI' : 'NAI'}}
          </p>
        </div>
      </div>

      <mat-divider class="mt-2 mb-2"></mat-divider>
      <h3 class="text-danger pt-3">C) Μορφωτικό επίπεδο κατά την είσοδο</h3>
      <div class="container-fluid row" *ngFor="let option of educationalStandardOptions; let i = index">
        <div class="col-10">
          <label for="{{option.id}}">
            <span style="font-weight: 500;">{{option.subCategory}})&nbsp;</span>{{option.text}}
          </label>
        </div>
        <div class="col-2 text-right">
          <p name="{{option.id}}" ngModel id="{{option.id}}">
            {{ getArrayValueByOptionId(option.id) == false ? 'OXI' : 'NAI'}}
          </p>
        </div>
      </div>
      <h3 class="text-danger pt-3">D) ΔΗΜΟΓΡΑΦΙΚΑ ΣΤΟΙΧΕΙΑ</h3>
      <div *ngFor="let option of demographicsOptions" class="container-fluid row">
        <div class="col-10">
          <label for="{{option.id}}">
            <span style="font-weight: 500;">{{option.subCategory}})&nbsp;</span>{{option.text}}
          </label>
        </div>
        <div class="col-2 text-right">
          <p name="{{option.id}}" ngModel id="{{option.id}}">
            {{ getArrayValueByOptionId(option.id) == false ? 'OXI' : 'NAI'}}
          </p>
        </div>
      </div>
      <div id="footerShownInPrintOnly">
        <br><br><br><br>
        <h3 style='text-align: center; font-size: 22px;'>Δηλώνω υπεύθυνα ότι τα παραπάνω στοιχεία είναι αληθή</h3>
        <br>
        <h3 style='text-align: right;'>Υπογραφή</h3>
        <h5 style='text-align: right;'> {{currentDate}} </h5><br><br><br>
        <h5 style='text-align: right;'> {{studentName}} </h5>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions style='text-align: right'>
  <button mat-button class="back-btn" (click)="onCancel()" class="btn btn-secondary mr-2">
    Κλείσιμο</button>
  <button class="print-btn" printSectionId="entrySheetPreviewContent" [useExistingCss]="true" ngxPrint
    class="btn btn-primary">Εκτύπωση</button>
</mat-dialog-actions>
