<div class="toolbar" role="banner"></div>

<div class="content" role="main">
  <div class="v3_50 container-fluid">
    <div class="row">
      <div class="col-12 col-sm-7 left-col">
        <div class="v3_60">
          <h1 class="main-heading">Γραφείο Πρακτικής Άσκησης</h1>
          <br />
          <img src="./assets/images/v110_3.png" class="uop-logo-blue" />
          <br /><br />
          <span class="minor-heading">Επιλέξτε την ιδιότητά σας</span>
        </div>

        <!-- buttons -->
        <div class="container btns-container pt-5 mt-4">
          <div class="row">
            <div class="col-6">
              <button class="v103_14">Φοιτητής/τρια</button>
            </div>
            <div class="col-6">
              <button class="v103_11">Εταιρία - Φορέας</button>
            </div>
          </div>
        </div>
        <div class="v3_53">
          <div class="v3_54"></div>
          <div class="v3_55"></div>
          <div class="v103_6"></div>
          <div class="v124_40"></div>
        </div>

        <button class="v3_56">
          <div class="v3_57"></div>
          <div class="v3_58"></div>
          <div class="v3_59"></div>
        </button>
      </div>
      <div class="col-12 col-sm-5 allomiso">
        <div class="col-content">
          <h2 class="pt-5">ΟΔΗΓΙΕΣ ΧΡΗΣΗΣ</h2>
          <br />
          <p>
            Αυτό εδώ το πολύ σημαντικό κείμενο χρησιμοποιείται έτσι ώστε να
            ενημερώσει τον αναγνώστη για το πολύ σημαντικό φαι που πρέπει
            οπωσδήποτε να φάει η πίτσα ή θάνατος
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
