<div class="toolbar" role="banner"></div>

<div class="content" role="main">
  <div class="v3_50 container-fluid">
    <div class="row">
      <div class="col-12 col-sm-7 left-col">
        <div class="v3_60">
          <h1 class="main-heading">Γραφείο Πρακτικής Άσκησης</h1>
          <br />
          <img src="./assets/images/v110_3.png" class="uop-logo-blue" />
          <br /><br />
          <span class="minor-heading">Επιλέξτε την ιδιότητά σας</span>
        </div>

        <!-- buttons -->
        <div class="container btns-container pt-5 mt-4">
          <div class="row">
            <div class="col-6">
              <button class="v103_14">Φοιτητής/τρια</button>
            </div>
            <div class="col-6">
              <button class="v103_11">Εταιρία - Φορέας</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-5 allomiso">
        <div class="lang">
          <select class="selectpicker" data-width="fit">
            <option data-content='<span class="flag-icon flag-icon-gr"></span> Greek'>Greek</option>
            <option data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
          </select>
        </div>
        <div class="col-content">
          <h2 class="pt-5">Σκοπός</h2>
          <br />
          <p>
            Το πρόγραμμα «Πρακτική Άσκηση Φοιτητών του Πανεπιστημίου Πελοποννήσου» που υλοποιείται στο πλαίσιο του
            Επιχειρησιακού Προγράμματος «Εκπαίδευση και Δια Βίου Μάθηση» (Ε.Π.Ε.Δ.Β.Μ.) 2007-2013 και συγχρηματοδοτείται
            από την Ευρωπαϊκή Ένωση (Ευρωπαϊκό Κοινωνικό Ταμείο) και από Εθνικούς Πόρους, ενισχύει σημαντικά την
            προσπάθεια σύνδεσης του Πανεπιστημίου με την αγορά εργασίας. Τα οφέλη στα οποία στοχεύει το Πανεπιστήμιο
            Πελοποννήσου μέσα από την υλοποίηση της Πρακτικής Άσκησης είναι:
          </p>
          <ul>
            <li>Εξοικείωση του φοιτητή με την αγορά εργασίας (απαιτήσεις φορέων απασχόλησης, διαχείριση εργασιακών
              σχέσεων, απόκτηση επαγγελματικής συνείδησης και δεοντολογίας, ανάληψη πρωτοβουλίας)</li>
            <li>Απόκτηση εργασιακής προϋπηρεσίας σχετικής με το αντικείμενο σπουδών τους</li>
            <li>Σύνδεση των σπουδών με την επαγγελματική απασχόληση και ανεύρεση τρόπων συνδυασμού διαφορετικών
              επιστημών κατά την απασχόληση τους.</li>
            <li>Ανάδειξη των δεξιοτήτων των ασκουμένων</li>
            <li>Επαγγελματική δικτύωση φοιτητών και σύνδεση σπουδών με αγορά εργασίας</li>
          </ul>
        </div>
      </div>
      <footer>
        <div class="v3_54"></div>
        <div class="v3_55"></div>
      </footer>
      <button class="v3_56">
        <div class="v3_57"></div>
        <div class="v3_58"></div>
        <div class="v3_59"></div>
      </button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
