<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Αιτήσεις φοιτητών</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <button class="btn btn-primary"><i class='fas fa-file-export' style='font-size:24px'></i> Excel</button>
            &nbsp;
            <button class="btn btn-primary"><i class='fas fa-print' style='font-size:24px'></i> Print</button>
            <br><br>
            <table id="example" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Oναματεπώνυμο</th>
                  <th>ΑΜ</th>
                  <th>Επιλογές Φοιτητή</th>
                  <th>Αποδοχή Φορέα</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Αθανάσιος Γαλάτης</td>
                  <td>201658489</td>
                  <td>
                    <ol>
                      <li>
                        intrasoft
                      </li>
                      <li>
                        citrix
                      </li>
                      <li>
                        intrasoft23
                      </li>
                      <li>
                        intrasoft5
                      </li>
                      <li>
                        intrasoftsaf
                      </li>
                    </ol>
                  </td>
                  <td>
                    2. citrix
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>Oναματεπώνυμο</th>
                  <th>ΑΜ</th>
                  <th>Επιλογές Φοιτητή</th>
                  <th>Αποδοχή Φορέα</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->
