<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Αιτήσεις φοιτητών</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <button (click)="exportToExcel()" class="btn btn-primary"><i class='fas fa-file-export'
                style='font-size:24px'></i> Excel</button>
            &nbsp;
            <button (click)="printDataTable()" class="btn btn-primary"><i class='fas fa-print'
                style='font-size:24px'></i>
              Print</button>
            <br><br>
            <table id="studentsTable" #studentsTable class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Αριθμός Αίτησης</th>
                  <th>Ημερομηνία Αίτησης</th>
                  <th>Oναματεπώνυμο</th>
                  <th>ΑΜ</th>
                  <th>Επιλογές Φοιτητή</th>
                  <!-- <th>Αποδοχή Φορέα</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let activeApplication of activeApplications">
                  <td>{{activeApplication.app_id}}</td>
                  <td>{{activeApplication.applicationDateStr}}</td>
                  <td>{{activeApplication.firstname}} {{activeApplication.lastname}}</td>
                  <td>{{activeApplication.reg_code}}</td>
                  <td>
                    <div *ngFor="let position of activeApplication.positions; let idx=index" [attr.data-index]="idx">
                      {{idx + 1}}. {{position.company}}
                    </div>
                  </td>
                  <!-- <td>
                    2. citrix
                  </td> -->
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>Αριθμός Αίτησης</th>
                  <th>Ημερομηνία Αίτησης</th>
                  <th>Oναματεπώνυμο</th>
                  <th>ΑΜ</th>
                  <th>Επιλογές Φοιτητή</th>
                  <!-- <th>Αποδοχή Φορέα</th> -->
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->
