<div class="container-fluid mt-5" style="max-width:90%;margin:auto;">
  <div>

    <h5 class="mb-4">Έχετε ολοκληρώσει την πρακτική άσκηση ή/και τη φοίτησή σας στο τμήμα. Στη συνέχεια εμφανίζονται
      τυχόν επιτυχώς ή ανεπιτυχώς ολοκληρωμένες θέσεις πρακτικής άσκησης.</h5>
    <h2 class="mb-4">Επιτυχώς ολοκληρωμένες θέσεις</h2>

    <table class="manage-table resumes responsive-table dark-div">
      <tr>
        <th><i class="fa fa-file"></i> Τίτλος</th>
        <th><i class="fa fa-building"></i> Φορέας</th>
        <th><i class="fa fa-user"></i> Φοιτητής</th>
        <th>Ενέργειες</th>
      </tr>
      <tr class="dark-div">
        <td>ΕΚΠΑΙΔΕΥΤΗΣ</td>
        <td>ΟΡΓΑΝΙΣΜΟΣ ΠΟΛΙΤΙΣΜΟΥ ΑΘΛΗΤΙΣΜΟΥ ΝΕΟΛΑΙΑΣ</td>
        <td class="title"><a href="#">ΓΙΑΝΝΗΣ ΓΕΩΡΓΙΟΥ</a></td>
        <td class="action">
          <a href="#"><i class="fa fa-pencil-alt"></i> Ερωτηματολόγιο πρακτικής</a>
          <a class="text-danger text-bold" href="#"><i class="fa fa-book"></i> Δελτίο εξόδου</a>
        </td>
      </tr>
    </table>
    <br>
    <h5 class="mb-4">Σε περίπτωση που δεν έχετε συμπληρώσει ακόμα το ΔΕΛΤΙΟ ΕΙΣΟΔΟΥ παρακαλούμε πολύ δείτε τα στοιχεία
      του και συμπληρώστε εδώ:
      <a class="text-danger text-bold">ΔΕΛΤΙΟ ΕΙΣΟΔΟΥ.</a></h5>
    <br>
    <!-- <a href="#" class="button btn-primary">Δες νεες θεσεις πρακτικης</a> -->
  </div>
</div>
