 <div class="pb-0 pt-3 mb-4 pl-3 " style="border:1px solid black; border-radius:6px;">
   <p>Τμήμα: {{depManagerData?.department}}<br>Τμηματικός Υπεύθυνος/η:
     {{depManagerData?.givenname}} {{depManagerData?.sn}}</p>
 </div>
 <div *ngIf="periodData.semester == null" ngNativeValidate id="dep-manager-no-period" class="alert alert-danger"
   role="alert">
   Δεν
   υπάρχουν καταχωρημένες περιόδοι. Δημιουργήστε μία νέα περίοδο από το παρακάτω μενού
 </div>
 <h4 *ngIf="periodData.semester != null"> Τρέχουσα Περίοδος </h4>
 <table *ngIf="periodData.semester != null" ngNativeValidate id="dep-manager-table" class="table table-bordered"
   style="background-color:white">
   <thead>
     <tr>
       <th scope="col">Εξάμηνο</th>
       <th scope="col">Φάση Περιόδου</th>
       <th scope="col">Έναρξη Φάσης {{periodData?.phase_state}}</th>
       <th scope="col">Λήξη Φάσης {{periodData?.phase_state}}</th>
       <th scope="col">Θέσεις ΕΣΠΑ</th>
       <th scope="col">Θέσεις εκτός ΕΣΠΑ</th>
       <th scope="col">Ενέργειες</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th scope="row">{{periodData?.semester == 1 ? "Εαρινό Εξάμηνο" : "Χειμερινό Εξάμηνο"}} {{periodData?.pyear}}
       </th>
       <td>{{phaseArray[(periodData?.phase_state)!]}}</td>
       <td>{{dateFrom}}</td>
       <td>{{dateTo}}</td>
       <td>{{periodData?.positions}}</td>
       <td>{{periodData?.available_positions}} </td>
       <td class="action text-dark">
         <a class="text-dark" [routerLink]="['/department-manager/edit-period']"><i class="fa fa-pencil-alt"></i>
           Επεξεργασία</a><br>
         <a [routerLink]="['delete-period']" (click)="deletePeriodById()" class="delete text-danger"><i
             class="fa fa-trash-alt"></i> Διαγραφή</a>
       </td>
     </tr>
   </tbody>
 </table>
