 <div class="pb-0 pt-3 mb-4 pl-3 " style="border:1px solid black; border-radius:6px;">
   <p>Τμήμα: {{depManagerData?.department}}<br>Τμηματικός/η Υπεύθυνος/η:
     {{depManagerData?.givenname}} {{depManagerData?.sn}}</p>
 </div>
 <div class="card-header p-2 mb-0" style="border:none;">
   <div class="card-tools mb-0 mr-1 p-1">
     <button type="button" style="font-size:16px;" class="btn btn-secondary btn-sm">
       <i class="far fa-envelope mr-1"></i>Παλιές Περιόδοι
     </button>
   </div>
 </div>
 <div *ngIf="!periodData || periodData.semester == null" ngNativeValidate id="dep-manager-no-period"
   class="alert alert-danger" role="alert">
   Δεν
   υπάρχουν καταχωρημένες περιόδοι. Δημιουργήστε μία νέα περίοδο από το παρακάτω μενού
 </div>
 <h4 *ngIf="periodData.semester != null"> Τρέχουσα Περίοδος </h4>
 <table *ngIf="periodData.semester != null" ngNativeValidate id="dep-manager-table" class="table table-bordered"
   style="background-color:white">
   <thead>
     <tr>
       <th scope="col">Εξάμηνο</th>
       <th scope="col">Φάση Περιόδου</th>
       <th scope="col">Έναρξη Φάσης {{periodData?.phase_state}}</th>
       <th scope="col">Λήξη Φάσης {{periodData?.phase_state}}</th>
       <th scope="col">Θέσεις ΕΣΠΑ</th>
       <th scope="col">Θέσεις εκτός ΕΣΠΑ</th>
       <th scope="col">Ενέργειες</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th scope="row">{{periodData?.semester == 1 ? "Χειμερινό Εξάμηνο" : "Εαρινό Εξάμηνο"}} {{periodData?.pyear}}
       </th>
       <td>{{phaseArray[(periodData?.phase_state)!]}}</td>
       <td>{{dateFrom}}</td>
       <td>{{dateTo}}</td>
       <td>{{periodData?.positions}}</td>
       <td>{{periodData?.available_positions}} </td>
       <td class="action text-dark">
         <a style="cursor:pointer" (click)="openDialog(periodData?.id)" class="text-dark"><i class="fa fa-eye"
             aria-hidden="true"></i>
           Προβολή</a><br>

         <a class="text-dark" [routerLink]="['/department-manager/edit-period/' + this.authService.getSessionId()]"><i
             class="fa fa-pencil-alt"></i>
           Επεξεργασία</a><br>
         <a [routerLink]="['delete-period/' + this.authService.getSessionId()]" (click)="deletePeriodById()"
           class="delete text-danger"><i class="fa fa-trash-alt"></i> Διαγραφή</a>
       </td>
     </tr>
   </tbody>
 </table>
