<app-department-manager-header></app-department-manager-header>
<section class=" ">
  <!-- <div class="alert alert-success" role="alert">
      Η περίοδος δήλωσης πρακτικής άσκησης είναι από 01/03/2021 έως 20/05/2021.
    </div> -->
  <!-- add period -->
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">
        <i class="fas fa-plus mr-1"></i>
        Επεξεργασία περιόδου
      </h3>
    </div>

    <div class="card-body">
      <div class="tab-content p-0">
        <div class="chart tab-pane active" style="min-height:430px" id="revenue-chart">
          <h5 class="font-weight-normal pt-2 pb-2">Στοιχεία περιόδου</h5>
          <form ngNativeValidate #periodEditForm="ngForm" (ngSubmit)="onSubmitPeriodEditForm(periodEditForm.value)">
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label">Ακαδημαϊκό εξάμηνο</label>
              <div class="col-sm-10">
                <select required class="custom-select" id="semester" name="semester" [(ngModel)]="periodData.semester"
                  required>
                  <option value="">Επιλέξτε εξάμηνο</option>
                  <option value="1">Χειμερινό</option>
                  <option value="2">Εαρινό</option>
                </select>
                <!-- <input type="text" class="form-control" id="staticEmail" placeholder="Tίτλος Περιόδου" value=""> -->
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Φάση Περιόδου</label>
              <div class="btn-group dropup col-sm-10">
                <select class="custom-select" #selectPhase name="phase_state" [(ngModel)]="periodData.phase_state"
                  id="phase_state" required>
                  <option value="1" [disabled]="this.phaseBe4Update > 1 && this.depManagerData.id != adminUser">1.
                    Αιτήσεις
                    ενδιαφέροντος φοιτητών</option>
                  <option value="2">2. Επιλογή θέσεων από φοιτητές</option>
                </select>
              </div>
              <div *ngIf="phaseBe4Update > 1" class="text-danger"><br>Δεν μπορείτε να επιστρέψετε στη Φάση 1
                αφότου η Φάση 2 έχει οριστικοποιηθεί</div>
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Έναρξη</label>
              <div class="col-sm-10">
                <div class="pl-0 ml-0 input-group">
                  <input class="form-control" placeholder="dd/mm/yyyy" id="date_from" name="date_from" #c3="ngModel"
                    ngModel [(ngModel)]="periodData.date_from" ngbDatepicker #datepicker3="ngbDatepicker"
                    [placement]="'left'" [positionTarget]="buttonDateFrom" required />
                  <button class="btn btn-outline-secondary" #buttonDateFrom (click)="datepicker3.toggle()"
                    type="button">
                    <i class="fas fa-calendar-alt"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Λήξη</label>
              <div class="col-sm-10">
                <div class="pl-0 ml-0 input-group">
                  <input class="form-control" placeholder="dd/mm/yyyy" id="date_to" name="date_to" #c4="ngModel" ngModel
                    [(ngModel)]="periodData.date_to" ngbDatepicker #datepicker4="ngbDatepicker" [placement]="'left'"
                    [positionTarget]="buttonDateTo" required />
                  <button class="btn btn-outline-secondary" #buttonDateTo (click)="datepicker4.toggle()" type="button">
                    <i class="fas fa-calendar-alt"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="positions" class="col-sm-2 col-form-label">Θέσεις ΕΣΠΑ</label>
              <div class="col-sm-10">
                <input type="number" name="positions" id="positions" class="form-control" ngModel
                  [(ngModel)]="periodData.positions" placeholder="Αριθμός θέσεων" readonly required>
              </div>
            </div>
            <div class="form-group row">
              <label for="available_positions" class="col-sm-2 col-form-label">Θέσεις εκτός ΕΣΠΑ</label>
              <div class="col-sm-10">
                <input type="number" name="available_positions" ngModel #availablePositionsItem id="available_positions"
                  class="form-control" [(ngModel)]="periodData.available_positions" placeholder="Αριθμός θέσεων"
                  (input)="validateInputNumber(availablePositionsItem)" maxLength="5" required>
              </div>
            </div>
            <a (click)="back()" class="btn btn-secondary mr-2"> <i class="fas fa-angle-left"></i>
              Πίσω</a>
            <button (click)="insertPhase2StudentsRank()" class="btn btn-primary">Αποθήκευση</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
