<app-department-manager-header></app-department-manager-header>
<section class=" ">
  <!-- <div class="alert alert-success" role="alert">
      Η περίοδος δήλωσης πρακτικής άσκησης είναι από 01/03/2021 έως 20/05/2021.
    </div> -->
  <!-- add period -->
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">
        <i class="fas fa-plus mr-1"></i>
        Επεξεργασία περιόδου
      </h3>
    </div>

    <div class="card-body">
      <div class="tab-content p-0">
        <div class="chart tab-pane active" id="revenue-chart">
          <h5 class="font-weight-normal pt-2 pb-2">Στοιχεία περιόδου</h5>
          <form ngNativeValidate #periodEditForm="ngForm" (ngSubmit)="onSubmitPeriodEditForm(periodEditForm.value)">
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label">Ακαδημαϊκό εξάμηνο</label>
              <div class="col-sm-10">
                <select required class="custom-select" id="semester" name="semester" [(ngModel)]="periodData.semester"
                  required>
                  <option value="">Επιλέξτε εξάμηνο</option>
                  <option value="1">Χειμερινό</option>
                  <option value="2">Εαρινό</option>
                </select>
                <!-- <input type="text" class="form-control" id="staticEmail" placeholder="Tίτλος Περιόδου" value=""> -->
              </div>
            </div>
            <div class="form-group row">
              <label for="date_from" class="col-sm-2 col-form-label">Έναρξη</label>
              <div class="col-sm-10">
                <input type="date" class="form-control" name="date_from" ngModel id="date_from"
                  [(ngModel)]="periodData.date_from" placeholder="dd-mm-yyyy" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="date_to" class="col-sm-2 col-form-label">Λήξη</label>
              <div class="col-sm-10">
                <input type="date" name="date_to" ngModel id="date_to" class="form-control"
                  [(ngModel)]="periodData.date_to" placeholder="Λήξη" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="positions" class="col-sm-2 col-form-label">Θέσεις ΕΣΠΑ</label>
              <div class="col-sm-10">
                <input type="number" name="positions" id="positions" class="form-control"
                  [(ngModel)]="periodData.positions" placeholder="Αριθμός θέσεων" readonly required>
              </div>
            </div>
            <div class="form-group row">
              <label for="available_positions" class="col-sm-2 col-form-label">Θέσεις εκτός ΕΣΠΑ</label>
              <div class="col-sm-10">
                <input type="number" name="available_positions" ngModel id="available_positions" class="form-control"
                  [(ngModel)]="periodData.available_positions" placeholder="Αριθμός θέσεων" required>
              </div>
            </div>
            <!-- Example single danger button -->

            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Φάση Περιόδου</label>
              <div class="btn-group dropup col-sm-10">
                <select class="custom-select" name="phase_state" [(ngModel)]="periodData.phase_state" id="phase_state"
                  required>
                  <option value="">Choose...</option>
                  <option value="1">1. Φάση ελέγχου επιλεξιμότητας.</option>
                  <option value="2">2. Φάση επιλογής φοιτητών</option>
                  <option value="3">3. Δήλωση προτίμησης από τους φοιτητές</option>
                  <option value="4">4. Επιλογή φοιτητών από φορείς</option>
                </select>
              </div>
            </div>
            <button [routerLink]="['../']" class="btn btn-secondary mr-2"> <i class="fas fa-angle-left"></i>
              Πίσω</button>
            <button (click)="insertPhase2StudentsRank()" class="btn btn-primary">Αποθήκευση</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
