<mat-dialog-content class="mat-typography">
  <form ngNativeValidate #studentEntryForm="ngForm" class="form-horizontal">
    <div class="alert alert-danger mt-3 mb-2" role="alert">
      Το δελτίο μπορεί να τροποποιηθεί.
    </div>
    <div id="exitSheetPreviewContent">
      <h4 class="text-dark pt-3">Α) Καθεστώς Εργασίας Κατά την Έξοδο</h4>

    </div>
    <br>
  </form>
</mat-dialog-content>
<mat-dialog-actions style='text-align: right'>
  <button mat-button class="back-btn" (click)="onCancel()" class="btn btn-secondary mr-2">
    Κλείσιμο</button>
  <!-- <button class="print-btn" (click)="printOutputSheet()" class="btn btn-primary">Εκτύπωση</button> -->
</mat-dialog-actions>
