<div id="content" class="generic-login-content mt-4" role="main" id="a1">
  <div id="main-terms-div">
    <div class="mt-0" style="max-width:400px;margin:auto;">
      <form class="signup-form login-option">
        <h2 class="mb-1">{{'HOME.STUDENT-SIGNUP' | translate}}</h2>
        <hr>
        <div class="mt-4 form-group">
          <!-- <label for="exampleInputEmail1">Όνομα Χρήστη</label> -->
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <span class="fa fa-building faicon"></span>
              </span>
            </div>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username"
              placeholder="Επωνυμία Φορέα" required="required">
          </div>
        </div>
        <div class="form-group">
          <!-- <label for="exampleInputPassword1">Κωδικός</label> -->
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-file faicon"></i>
              </span>
            </div>
            <input type="text" class="form-control" id="afm" name="afm" placeholder="ΑΦΜ" required="required">
          </div>
        </div>
        <div class="form-group">
          <!-- <label for="exampleInputPassword1">Κωδικός</label> -->
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-at faicon"></i>
              </span>
            </div>
            <input type="email" id="email" class="form-control" name="email" placeholder="email"
              pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" required="">
          </div>
        </div>
        <div class="form-group">
          <!-- <label for="exampleInputPassword1">Κωδικός</label> -->
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-phone faicon"></i>
              </span>
            </div>
            <input type="tel" class="form-control" id="phone" name="phone" placeholder="Τηλέφωνο" required="required">
          </div>
        </div>
        <div class="mt-4 form-group">
          <!-- <label for="exampleInputEmail1">Όνομα Χρήστη</label> -->
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <span class="fa fa-user faicon"></span>
              </span>
            </div>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username"
              placeholder="{{'HOME.USERNAME' | translate}}" required="required">
          </div>
        </div>
        <div class="form-group">
          <!-- <label for="exampleInputPassword1">Κωδικός</label> -->
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-lock faicon"></i>
              </span>
            </div>
            <input type="password" class="form-control" id="password" name="password"
              placeholder="{{'HOME.PASSWORD' | translate}}" required="required">
            <i class="fa fa-eye" (click)="passwordToggle('togglePassword', 'password')" id="togglePassword"></i>
          </div>
        </div>
        <div class="form-group">
          <!-- <label for="exampleInputPassword1">Κωδικός</label> -->
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-lock faicon"></i>
              </span>
            </div>
            <input type="password" class="form-control" id="repeatPassword" name="repeatPassword"
              placeholder="{{'HOME.REPEAT-PASSWORD' | translate}}" required="required">
            <i class="fa fa-eye" (click)="passwordToggle('togglePassword2', 'repeatPassword')" id="togglePassword2"></i>
          </div>
        </div>
        <div class="grid-container">
          <button type="submit" [routerLink]="['/credentials-generic/']"
            class="mt-2 btn btn-secondary">{{'HOME.BACK-BTN' | translate}}</button>
          <div class="hr-divider"></div>
          <button type="submit" class="mt-2 btn btn-primary">{{'HOME.SUBMIT-BTN' | translate}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
