<div class="container-fluid mt-5" style="max-width:90%;margin:auto;">
  <div>
    <h2>ΣΥΜΒΑΣΗ</h2>
    <h5 class="mb-4">Απαραίτητη προϋπόθεση για την έναρξη της πρακτικής άσκησης είναι η υπογραφή της σύμβασης εργασίας.
    </h5>

    <button [routerLink]="['../input-sheet']" class="btn btn-primary mb-4"><a></a> Συμβαση Εργασιας</button>

    <h2>ΔΕΛΤΙΟ ΕΙΣΟΔΟΥ</h2>
    <h5 class="mb-4">Μετά τη συμπλήρωση και στη σελίδα που κάθε φοιτητής βλέπει το δελτίο
      εισόδου του ΣΤΟ ΚΑΤΩ ΜΕΡΟΣ υπάρχει ένας σύνδεσμος που αναφέρει:
      «ΕΚΤΥΠΩΣΗ ΔΕΛΤΙΟΥ». Πατώντας αυτό το σύνδεσμο ανοίγει ένα αρχείο PDF το
      οποίο πρέπει κάθε φοιτητής να τυπώσει, υπογράψει και παραδώσει στον
      τμηματικό υπεύθυνο
      <br>Αρχίζουμε από το δελτίο εισόδου. Αυτό θα πρέπει να περιέχει πληροφορίες που
      αφορούν την κατάσταση του φοιτητή πριν ξεκινήσει την πρακτική.</h5>

    <button [routerLink]="['../input-sheet']" class="btn btn-primary mb-4"><a></a> Συμπληρωστε το Δελτιο
      Εισοδου</button>

    <h2>ΔΕΛΤΙΟ ΕΞΟΔΟΥ</h2>
    <h5 class="mb-4">Αν έχετε ολοκληρώσει την πρακτική άσκηση, συμπληρώστε το δελτίο εξόδου με βάση την κατάσταση που
      ίσχυε για εσάς αμέσως μετά την ολοκληρωση της πρακτικής άσκησης</h5>
    <button [routerLink]="['../output-sheet']" class="btn btn-primary mb-4"> Συμπληρωστε το Δελτιο Εξοδου</button>

  </div>
</div>
