html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
small,
strong,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* #Basic Styles */
body {
  font-size: 16px;
  line-height: 27px;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
}

h1 {
  font-size: 30px;
  line-height: 54px;
}

h2 {
  font-size: 24px;
  line-height: 48px;
}

h3 {
  font-size: 22px;
  line-height: 44px;
}

h4 {
  font-size: 18px;
  line-height: 36px;
}

h5 {
  font-size: 16px;
  line-height: 28px;
}

h6 {
  font-size: 14px;
  line-height: 24px;
}

p {
  margin: 0 0 15px 0;
}

p img {
  margin: 0;
}

strong {
  font-weight: 700;
  color: #333;
}

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}

/* #Links */
a {
  color: #505050;
  text-decoration: none;
  outline: 0;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #666;
}

p a,
p a:visited {
  line-height: inherit;
}

.divider-line {
  border-bottom: 1px solid #e8e8e8;
}

/* ---------------------------------- */
/* Buttons
------------------------------------- */
button,
input[type="button"],
input[type="submit"],
a.button {
  cursor: pointer;
  padding: 9px 18px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  outline: none;
  overflow: hidden;
  position: relative;
  z-index: 10;
  color: #fff;
  background-color: #505050;
  border: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

button {
  padding: 12px 18px;
}

/* ---------------------------------- */
/* Back to top
------------------------------------- */
#backtotop {
  position: fixed;
  right: 0;
  display: none;
  bottom: 20px;
  margin: 0 20px 0 0;
}

#backtotop a {
  text-decoration: none;
  border: 0 none;
  display: block;
  width: 46px;
  height: 46px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#backtotop a:after {
  content: "";
  /* font-family: "FontAwesome"; */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: relative;
  display: block;
  top: 9px;
  left: 15px;
}

#backtotop a:hover {
  background-color: #505050;
}

button {
  min-width: 318px;
}

.sheets-container {
  max-width: 90%;
  margin: auto;
}
