<app-department-manager-header></app-department-manager-header>
<section class=" ">
  <!-- <div class="alert alert-success" role="alert">
      Η περίοδος δήλωσης πρακτικής άσκησης είναι από 01/03/2021 έως 20/05/2021.
    </div> -->
  <!-- add period -->
  <button id="toggleVisibilityAddPeriod" *ngIf="(periodSet==false)" (click)="toggleShow()"
    class="btn btn-secondary mb-3" type="button"> <i class="fas fa-plus mr-1"></i>Δημιουργία νέας περιόδου</button>
  <div *ngIf="isShown" class="card">
    <!-- <div class="card-header">
      <h3 class="card-title">
        <i class="fas fa-plus mr-1"></i>
        Δημιουργία νέας περιόδου
      </h3>
    </div> -->

    <div class="card-body">
      <div class="tab-content p-0">
        <div class="chart tab-pane active" style="min-height:430px" id="revenue-chart">
          <h5 class="font-weight-normal pt-2 pb-2">Στοιχεία περιόδου</h5>
          <form ngNativeValidate #periodForm="ngForm" (ngSubmit)="onSubmitPeriodForm(periodForm.value)">
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label">Ακαδημαϊκό εξάμηνο</label>
              <div class="col-sm-10">
                <select required class="custom-select" id="semester" name="semester" [(ngModel)]='ngSelect'>
                  <option value="">Επιλέξτε εξάμηνο</option>
                  <option value="1">Χειμερινό</option>
                  <option value="2">Εαρινό</option>
                </select>
                <!-- <input type="text" class="form-control" id="staticEmail" placeholder="Tίτλος Περιόδου" value=""> -->
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Φάση αιτήσεων</label>
              <div class="btn-group dropup col-sm-10">
                <select class="custom-select" name="phase_state" [(ngModel)]='ngSelectPhase' id="phase_state" required>
                  <!-- <option value="" selected>Επιλέξτε φάση περιόδου</option> -->
                  <option value="1" selected>1. Φάση ελέγχου επιλεξιμότητας</option>
                  <!-- <option value="2">2. Φάση επιλογής φοιτητών</option>
                  <option value="3">3. Δήλωση προτίμησης από τους φοιτητές</option>
                  <option value="4">4. Επιλογή φοιτητών από φορείς</option> -->
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Έναρξη</label>
              <div class="col-sm-10">

                <div class="pl-0 ml-0 input-group">
                  <input class="form-control" placeholder="dd/mm/yyyy" id="date_from" name="date_from" #c3="ngModel"
                    ngModel ngbDatepicker #datepicker3="ngbDatepicker" [placement]="'left'" [positionTarget]="buttonEl"
                    required />
                  <button class="btn btn-outline-secondary" (click)="datepicker3.toggle()" type="button">
                    <i class="fas fa-calendar-alt"></i>
                  </button>
                </div>

              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Λήξη</label>
              <div class="col-sm-10">
                <div class="pl-0 ml-0 input-group">
                  <input class="form-control ngb-popup-top" placeholder="dd/mm/yyyy" id="date_to" name="date_to"
                    #c4="ngModel" ngModel ngbDatepicker #datepicker4="ngbDatepicker" [placement]="'left'"
                    [positionTarget]="buttonEl" required />
                  <button class="btn btn-outline-secondary" #buttonEl (click)="datepicker4.toggle()" type="button">
                    <i class="fas fa-calendar-alt"></i>
                  </button>
                </div>

              </div>
            </div>

            <div class="form-group row">
              <label for="positions" class="col-sm-2 col-form-label">Θέσεις ΕΣΠΑ</label>
              <div class="col-sm-10">
                <input type="number" name="positions" id="positions" class="form-control" [(ngModel)]="espaPositions"
                  placeholder="Αριθμός θέσεων" readonly required>
              </div>
            </div>
            <div class="form-group row">
              <label for="available_positions" class="col-sm-2 col-form-label">Θέσεις εκτός ΕΣΠΑ</label>
              <div class="col-sm-10">
                <input type="number" name="available_positions" #availablePositionsItem [(ngModel)]='availablePositions'
                  (input)="validateInputNumber(availablePositionsItem)" id="available_positions" class="form-control"
                  placeholder="Αριθμός θέσεων" defaultValue="0" value="0" min="0" maxLength="5" required>
              </div>
            </div>
            <button class="btn btn-primary">Δημιουργία</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
