<app-department-manager-header></app-department-manager-header>
<section class=" ">
  <!-- <div class="alert alert-success" role="alert">
      Η περίοδος δήλωσης πρακτικής άσκησης είναι από 01/03/2021 έως 20/05/2021.
    </div> -->
  <!-- add period -->
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">
        <i class="fas fa-plus mr-1"></i>
        Δημιουργία νέας περιόδου
      </h3>
    </div>

    <div class="card-body">
      <div class="tab-content p-0">
        <div class="chart tab-pane active" id="revenue-chart">
          <h5 class="font-weight-normal pt-2 pb-2">Στοιχεία περιόδου</h5>
          <form>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label">Tίτλος Περιόδου</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="staticEmail" placeholder="Tίτλος Περιόδου" value="">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Έναρξη</label>
              <div class="col-sm-10">
                <input type="date" class="form-control" id="inputPassword" placeholder="Έναρξη">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Λήξη</label>
              <div class="col-sm-10">
                <input type="date" class="form-control" id="inputPassword" placeholder="Λήξη">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Αριθμός θέσεων</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" id="inputPassword" placeholder="Αριθμός θέσεων">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Κατάσταση Περιόδου</label>
              <div class="btn-group dropup col-sm-10">
                <select class="custom-select" id="inputGroupSelect01">
                  <option selected>Επιλέξτε...</option>
                  <option value="1">Σε αναμονή για συμμετοχή των φορέων</option>
                  <option value="2">Σε αναμονή για συμμετοχή των φοιτητών</option>
                  <option value="3">Σε αναμονή για ολοκλήρωση αιτήσεων</option>
                </select>
              </div>
            </div>
            <button class="btn btn-primary">Δημιουργία</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
