 <!-- Small boxes (Stat box) -->
 <div class="row">
   <div class="col-lg-3 col-6">
     <!-- small box -->
     <div class="small-box bg-btn-stat">
       <div class="inner">
         <h3>8ο</h3>

         <p>Τρέχον εξάμηνο</p>
       </div>
       <div class="icon">
         <i class="fas fa-calendar-alt"></i>
       </div>
       <a href="#" class="small-box-footer">Περισσότερα <i class="fas fa-arrow-circle-right"></i></a>
     </div>
   </div>
   <!-- ./col -->
   <div class="col-lg-3 col-6">
     <!-- small box -->
     <div class="small-box bg-btn-stat">
       <div class="inner">
         <h3>58<sup style="font-size: 20px">%</sup></h3>

         <p>Ποσοστό Περασμένων μαθημάτων</p>
       </div>
       <div class="icon">
         <i class="fas fa-percent"></i>

       </div>
       <a href="#" class="small-box-footer">Περισσότερα <i class="fas fa-arrow-circle-right"></i></a>
     </div>
   </div>
   <!-- ./col -->
   <div class="col-lg-3 col-6">
     <!-- small box -->
     <div class="small-box bg-btn-stat">
       <div class="inner">
         <h3>7,1</h3>

         <p>Μέσος όρος βαθμολογίας</p>
       </div>
       <div class="icon">
         <i class="fas fa-chart-pie"></i>
       </div>
       <a href="#" class="small-box-footer">Περισσότερα <i class="fas fa-arrow-circle-right"></i></a>
     </div>
   </div>
   <!-- ./col -->
   <div class="col-lg-3 col-6">
     <!-- small box -->
     <div class="small-box bg-btn-stat">
       <div class="inner">
         <h3>114</h3>
         <p>ECTS</p>
       </div>
       <div class="icon">
         <i class="fas fa-graduation-cap"></i>
       </div>
       <a href="#" class="small-box-footer">Περισσότερα <i class="fas fa-arrow-circle-right"></i></a>
     </div>
   </div>
   <!-- ./col -->
 </div>
 <!-- /.row -->

 <!-- Main row -->
 <div class="row">
   <!-- Left col -->
   <section class="col-lg-8 connectedSortable">
     <!-- Custom tabs (Charts with tabs)-->
     <div class="card">
       <div class="card-header">
         <h3 class="card-title">
           <i class="fas fa-chart-pie mr-1"></i>
           Έλεγχος έγκρισης πρακτικής
         </h3>

         <div class="card-tools">
           <!-- <ul class="nav nav-pills ml-auto">
              <li class="nav-item">
                <a class="nav-link active" href="#revenue-chart" data-toggle="tab">Area</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#sales-chart" data-toggle="tab">Donut</a>
              </li>
            </ul> -->
           <button type="button" class="btn btn-sm btn-collapse-min" data-card-widget="collapse">
             <i class="fas fa-minus"></i>
           </button>
         </div>
       </div>
       <!-- <div class="card-body">
         <div class="tab-content p-0">
           <div class="chart tab-pane active" id="revenue-chart">
             Τα κριτήρια για την έγκριση της πρακτικής άσκησης είναι τα εξής:
             <ul class="pt-2">
               <li>Τρέχον εξάμηνο Φοίτησης</li>
               <li>Ποσοστό Περασμένων μαθημάτων</li>
               <li>Μέσος όρος βαθμολογίας</li>
               <li>Έλεγχος έγκρισης πρακτικής</li>
             </ul>
             Βάσει των παραπάνω κριτηρίων, δικαιείσαι πρακτική άσκηση. <i class="fas fa-2x fa-check text-success"></i>
           </div>
         </div>
       </div> -->
       <div class="card-body">
         <div class="tab-content p-0">

           <div class="chart tab-pane active" id="revenue-chart">
             Τα βήματα για την πρακτική άσκηση είναι:
             <ul class="pt-2">
               <li> <a href=""> &nbsp;Βήμα 1: Συμπληρώστε το προφίλ σας στο πάνω δεξιά μέρος (υποχρεωτικό)</a></li>
               <li> <a href=""> &nbsp;Βήμα 2: Διαβάστε για την διαδικασία πρακτικής άσκησης της σχολής σας</a></li>
               <li> <a href=""> &nbsp;Βήμα 3: Κάντε αίτηση για πρακτική άσκηση</a></li>
               <li> <a href=""> &nbsp;Βήμα 4: Δείτε τις αιτήσεις σας στη καρτέλα επιλεγμένες θέσεις (προτείνεται)</a>
               </li>
             </ul>

           </div>
         </div>
       </div>

     </div>
     <!-- /.card -->
   </section>
   <!-- /.Left col -->
   <!-- right col (We are only adding the ID to make the widgets sortable)-->
   <section class="col-lg-4 connectedSortable">

     <!-- Calendar -->
     <div class="card">
       <div class="card-header border-0">

         <h3 class="card-title">
           <i class="far fa-calendar-alt"></i>
           Ημερολόγιο
         </h3>
         <!-- tools card -->
         <div class="card-tools">
           <!-- button with a dropdown -->
           <div class="btn-group">
             <!-- <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" data-offset="-52">
                <i class="fas fa-bars"></i>
              </button> -->
             <!-- <div class="dropdown-menu" role="menu">
                <a href="#" class="dropdown-item">Add new event</a>
                <a href="#" class="dropdown-item">Clear events</a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">View calendar</a>
              </div> -->
           </div>
           <button type="button" class="btn btn-sm btn-collapse-min" data-card-widget="collapse">
             <i class="fas fa-minus"></i>
           </button>
           <!-- <button type="button" class="btn btn-success btn-sm" data-card-widget="remove">
              <i class="fas fa-times"></i>
            </button> -->
         </div>
         <!-- /. tools -->
       </div>
       <!-- /.card-header -->
       <div class="card-body pt-0">
         <!--The calendar -->
         <div id="calendar"></div>
       </div>
       <!-- /.card-body -->
     </div>
     <!-- /.card -->
   </section>
   <!-- right col -->
 </div>
 <!-- /.row (main row) -->
 <!-- <div id="calendar"></div> -->
