<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Θέσεις Πρακτικής</h3>
          </div>
          <div class="card-body">
            <form>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="title">Τίτλος θέσης</label>
                  <input type="text" class="form-control" id="title" placeholder="Τίτλος θέσης">
                </div>
                <div class="form-group col-md-8">
                  <label for="description">Περιγραφή Θέσης</label>
                  <textarea class="form-control" id="description" rows="1"></textarea>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="part-time">Ωράριο</label>
                  <select id="part-time" class="form-control">
                    <option selected>Επιλογή...</option>
                    <option value="1">Πλήρες Ωράριο</option>
                    <option value="1">Μερικό Ωράριο</option>
                  </select>
                </div>
                <div class="form-group col-md-4">
                  <label for="time">Διάρκεια</label>
                  <select id="time" class="form-control">
                    <option selected>Επιλογή...</option>
                    <option value="1">Έως 6 μήνες</option>
                    <option value="1">Έως 12 μήνες</option>
                    <option value="1">Έως 24 μήνες</option>
                  </select>
                </div>
                <div class="form-group col-md-4">
                  <label for="town">Πόλη</label>
                  <input type="text" class="form-control" id="town" placeholder="Πόλη">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="address">Διέυθυνση</label>
                  <input type="text" class="form-control" id="address" placeholder="Διέυθυνση Εργασίας">
                </div>
                <div class="form-group col-md-4">
                  <label for="positions">Διαθέσιμες Θέσεις</label>
                  <select id="positions" class="form-control">
                    <option selected>Επιλογή...</option>
                    <option value="1">1</option>
                    <option value="1">2</option>
                    <option value="1">3</option>
                    <option value="1">4</option>
                    <option value="1">5</option>
                  </select>
                </div>
                <div class="form-group col-md-4">
                  <label for="positions">Τμήμα</label>
                  <select id="positions" class="form-control">
                    <option selected>Επιλογή...</option>
                    <option value="1">ΠΛΗΡΟΦΟΡΙΚΗΣ ΚΑΙ ΤΗΛΕΠΙΚΟΙΝΩΝΙΩΝ</option>
                    <option value="1">ΙΣΤΟΡΙΑΣ, ΑΡΧΑΙΟΛΟΓΙΑΣ ΚΑΙ ΔΙΑΧΕΙΡΙΣΗΣ ΠΟΛΙΤΙΣΜΙΚΩΝ ΑΓΑΘΩΝ</option>
                    <option value="1">ΚΟΙΝΩΝΙΚΗΣ ΚΑΙ ΕΚΠΑΙΔΕΥΤΙΚΗΣ ΠΟΛΙΤΙΚΗΣ</option>
                  </select>
                </div>
                <div class="form-group col-md-4">
                  <label for="positions">Τμήμα</label>
                  <select id="positions" class="form-control">
                    <option selected>Επιλογή...</option>
                    <option value="1">ΠΛΗΡΟΦΟΡΙΚΗΣ ΚΑΙ ΤΗΛΕΠΙΚΟΙΝΩΝΙΩΝ</option>
                    <option value="1">ΙΣΤΟΡΙΑΣ, ΑΡΧΑΙΟΛΟΓΙΑΣ ΚΑΙ ΔΙΑΧΕΙΡΙΣΗΣ ΠΟΛΙΤΙΣΜΙΚΩΝ ΑΓΑΘΩΝ
                    </option>
                    <option value="1">ΚΟΙΝΩΝΙΚΗΣ ΚΑΙ ΕΚΠΑΙΔΕΥΤΙΚΗΣ ΠΟΛΙΤΙΚΗΣ</option>
                  </select>
                </div>
                <div class="form-group col-md-4">
                  <label for="positions">Τμήμα</label>
                  <select id="positions" class="form-control">
                    <option selected>Επιλογή...</option>
                    <option value="1">ΠΛΗΡΟΦΟΡΙΚΗΣ ΚΑΙ ΤΗΛΕΠΙΚΟΙΝΩΝΙΩΝ</option>
                    <option value="1">ΙΣΤΟΡΙΑΣ, ΑΡΧΑΙΟΛΟΓΙΑΣ ΚΑΙ ΔΙΑΧΕΙΡΙΣΗΣ
                      ΠΟΛΙΤΙΣΜΙΚΩΝ ΑΓΑΘΩΝ</option>
                    <option value="1">ΚΟΙΝΩΝΙΚΗΣ ΚΑΙ ΕΚΠΑΙΔΕΥΤΙΚΗΣ ΠΟΛΙΤΙΚΗΣ</option>
                  </select>
                </div>
                <div class="form-group col-md-4">
                  <label for="positions">Τμήμα</label><br>
                  <mat-form-field appearance="outline">
                    <mat-label>Toppings</mat-label>
                    <mat-select [formControl]="physicalObjectForm" multiple>
                      <mat-option *ngFor="let topping of list" [value]="topping">{{topping}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <!-- <select id="positions" class="form-control">
                    <option selected>Επιλογή...</option>
                    <option value="1">ΠΛΗΡΟΦΟΡΙΚΗΣ ΚΑΙ ΤΗΛΕΠΙΚΟΙΝΩΝΙΩΝ
                    </option>
                    <option value="1">ΙΣΤΟΡΙΑΣ, ΑΡΧΑΙΟΛΟΓΙΑΣ ΚΑΙ
                      ΔΙΑΧΕΙΡΙΣΗΣ ΠΟΛΙΤΙΣΜΙΚΩΝ ΑΓΑΘΩΝ</option>
                    <option value="1">ΚΟΙΝΩΝΙΚΗΣ ΚΑΙ ΕΚΠΑΙΔΕΥΤΙΚΗΣ
                      ΠΟΛΙΤΙΚΗΣ</option>
                  </select> -->
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-auto pb-5" style="margin:auto; text-align:center;">
    <button class="btn btn-primary" (click)="fireTheWhole()"> Ανάρτηση θέσεων</button>
  </div>
</section>
