.inactive-field {
  color: rgb(143, 143, 143)
}

.dialog-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  position: absolute;
  top: -8px;
  right: -12px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 4px 10px;
}

.mat-form-field-flex {
  align-items: safe center !important
}

.date-input {
  height: 1.1rem;
  line-height: 1.2rem;
  font-size: 14px;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 0px;
  flex-wrap: wrap;
  margin-bottom: 0px;
}

mat-form-field {
  flex: 1 1 48%;
  min-width: 200px;
}