        <!-- buttons -->
        <div class="container btns-container pt-5 mt-4">
          <div class="row">
            <div class="div-student col-12 mt-3">
              <!-- <button style="font-size:30px;" [routerLink]="['/terms']"
                class="btn-student">{{ 'HOME.ENTER' | translate }}</button> -->
              <a style="color: white;" href="CAS/CASapi.php/">
                <button style="font-size:30px;" class="btn-student">
                  {{ 'HOME.ENTER' | translate }}
                </button>
              </a>
            </div>
            <div class="pt-3 pb-0" style="max-width:300px; margin:auto; color:rgba(0,0,0,0.9)">
              <div class="or-separator"><label>{{ 'HOME.OR' | translate }}</label></div>
            </div>
            <div class="div-company col-12 mt-3">
              <button class="btn-company"
                [routerLink]="['/company-terms']">{{ 'HOME.CREDENTIALS-LOGIN' | translate }}</button>
            </div>
          </div>
          <br>
          <div *ngIf="maintenance"
            style="background:#d6433b; color:white; padding: 15px; border-radius: 10px; opacity: 0.97">
            <h3 style="margin-top: 0;">Προγραμματισμένη Συντήρηση</h3>
            <p>Το σύστημα της Πρακτικής Άσκησης θα είναι εκτός λειτουργίας για προγραμματισμένη συντήρηση, στις
              2/5/2023 και ώρα από 9:30 έως 14:00</p>
          </div>
        </div>
