<div class="container-fluid mt-5" style="max-width:90%;margin:auto;">
  <!-- Table -->
  <div>
    <p class="mb-4">Μπορείτε να δείτε τις θέσεις στις οποίες έχετε κάνει αίτηση στο παρακάτω πίνακα:</p>

    <table class="manage-table resumes responsive-table dark-div">
      <tr>
        <th><i class="fa fa-user"></i> Όνομα</th>
        <th><i class="fa fa-file"></i> Τίτλος</th>
        <th><i class="fa fa-map-marker"></i> Τοποθεσία</th>
        <th><i class="fa fa-calendar"></i> Ημερομηνία Δημοσίευσης</th>
        <th></th>
      </tr>
      <tr class="dark-div">
        <td class="title"><a href="#">Γιάννης Γεωργίου</a></td>
        <td>Front End Web Developer</td>
        <td>Τρίπολη</td>
        <td>Ιανουάριος 04, 2022</td>
        <td class="action">
          <a href="#"><i class="fa fa-pencil-alt"></i> Επεξεργασία</a>
          <a href="#"><i class="fa  fa-eye-slash"></i> Απόκρυψη</a>
          <a href="#" class="delete"><i class="fa fa-trash-alt"></i> Διαγραφή</a>
        </td>
      </tr>
      <tr class="dark-div">
        <td class="title"><a href="#">Γιάννης Γεωργίου</a></td>
        <td>Logo Designer</td>
        <td>Τρίπολη</td>
        <td>Αύγουστος 12, 2021</td>
        <td class="action">
          <a href="#"><i class="fa fa-pencil-alt"></i> Επεξεργασία</a>
          <a href="#"><i class="fa  fa-eye-slash"></i> Απόκρυψη</a>
          <a href="#" class="delete"><i class="fa fa-trash-alt"></i> Διαγραφή</a>
        </td>
      </tr>
    </table>
    <br>
    <a href="#" class="button btn-primary">Δες νεες θεσεις πρακτικης</a>
  </div>
</div>
