<div id="content" class="content" role="main" id="a1">
  <div id="main-terms-div">
    <div class="mt-0" style="max-width:600px;margin:auto;">
      <h4 style="color: #224957">
      </h4>
      <div id="content-region" class="content-region region nested">
        <a name="main-content-area" id="main-content-area"></a>
        <h5 class="title gutter">Εταιρείες/Φορείς</h5>
        <div class="pane-content content" style="font-size:18px;">
          <p class="text-danger">ΠΡΟΣΟΧΗ! Για την εκτέλεση πρακτικής άσκησης από φοιτητές στο φορέα σας απαιτούνται
            τα παρακάτω βήματα με τη σειρά που αναγράφονται</p>
          <ol>
            <li>Δημιουργείτε λογαριασμό και κάνετε ανάρτηση θέσεων πρακτικής στο σύστημα <a
                href="http://atlas.grnet.gr">atlas.grnet.gr</a></li>
            <li>Οι φοιτητές του Παν. Πελοποννήσου βλέπουν τις θέσεις που έχετε αναρτήσει στο ΑΤΛΑΣ
              και ΕΦΟΣΟΝ σας επιλέξουν ενημερώνεστε με μήνυμα ηλεκτρονικού ταχυδρομείου για τον
              τρόπο πρόσβασης στο σύστημα praktiki.uop.gr</li>
            <li>Αφού λάβετε με ηλεκτρονική αλληλογραφία μήνυμα με οδηγίες σύνδεσης στο σύστημα
              praktiki.uop.gr ΤΟΤΕ και ΜΟΝΟ ΤΟΤΕ αποκτάτε πρόσβαση στο παρόν σύστημα και μπορείτε
              να επιλέξετε φοιτητές για πρακτική από το Παν. Πελοποννήσου.</li>
          </ol>
        </div>
      </div>
    </div>

    <!-- <div class="terms-box mt-4">
      <img style="height:160px;margin-top:20px;" src=" ../assets/images/not_robot.png">
      <div class="tacbox">
        <input id="checkbox" type="checkbox" />
        <label for="checkbox">&nbsp;&nbsp;Αποδέχομαι τους <a href="#">όρους χρήσης</a> της πλατφόρμας<span
            class="text-danger">&nbsp;*</span></label>
      </div>
    </div> -->
    <div class="modal-footer mt-4">
      <button type="button" [routerLink]="['/']" class="text-white btn btn-secondary"
        data-bs-dismiss="modal">Πίσω</button>
      <button type="button" class="text-white btn btn-primary">
        <a [routerLink]="['/credentials-generic']">
          <span class="text-white">Συνέχεια</span>
        </a>
      </button>
    </div>
  </div>
</div>
